In [1]:
# STEP 0: Install required libraries
!pip install transformers datasets stanza nltk --quiet

   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1.1/1.1 MB 16.6 MB/s eta 0:00:00 0:00:01

In [2]:
# STEP 1: Import libraries
import os
import json
import pandas as pd
import numpy as np
import sqlite3
import nltk
import stanza
import torch
from sklearn.model_selection import train_test_split
from torch.utils.data import DataLoader, TensorDataset
from transformers import MT5Tokenizer, MT5ForConditionalGeneration, AdamW
from nltk.translate.bleu_score import sentence_bleu, SmoothingFunction
from tqdm import tqdm

nltk.download('punkt')
stanza.download('ar')

[nltk_data] Downloading package punkt to /usr/share/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

Downloading https://raw.githubusercontent.com/stanfordnlp/stanza-resources/main/resources_1.10.0.json:   0%|  â€¦

Downloading https://huggingface.co/stanfordnlp/stanza-ar/resolve/v1.10.0/models/default.zip:   0%|          | â€¦

In [3]:
import json

rows = []
with open("/kaggle/input/txttosql-nlp/AR_spider.jsonl", "r", encoding="utf-8") as f:
    for line in f:
        rows.append(json.loads(line.strip()))

import pandas as pd
df = pd.DataFrame(rows)

In [4]:
print(df.head())

                                            question  \
0  How many heads of the departments are older th...
1  List the name, born state and age of the heads...
2  List the creation year, name and budget of eac...
3  What are the maximum and minimum budget of the...
4  What is the average number of employees of the...

                                               query  \
0         SELECT count(*) FROM head WHERE age  >  56
1  SELECT name ,  born_state ,  age FROM head ORD...
2  SELECT creation ,  name ,  budget_in_billions ...
3  SELECT max(budget_in_billions) ,  min(budget_i...
4  SELECT avg(num_employees) FROM department WHER...

                                              arabic                  db_id
0  ÙƒÙ… Ø¹Ø¯Ø¯ Ø±Ø¤Ø³Ø§Ø¡ Ø§Ù„Ø£Ù‚Ø³Ø§Ù… Ø§Ù„Ø°ÙŠÙ† ØªØ²ÙŠØ¯ Ø£Ø¹Ù…Ø§Ø±Ù‡Ù… Ø¹Ù† 56 ...  department_management
1  Ø§Ø¹Ø±Ø¶ Ù‚Ø§Ø¦Ù…Ø© Ø¨Ø£Ø³Ù…Ø§Ø¡ Ø±Ø¤Ø³Ø§Ø¡ Ø§Ù„Ø£Ù‚Ø³Ø§Ù…ØŒ Ù…ÙƒØ§Ù† Ù…ÙŠÙ„Ø§Ø¯Ù‡Ù…ØŒ...  department_management
2  Ø§Ø¹Ø±Ø¶ Ù‚Ø§Ø¦Ù…Ø© Ø¨Ø³Ù†ÙˆØ§Øª Ø§Ù„Ø¥Ù†Ø´Ø§Ø¡ØŒ ÙˆØ£Ø³Ù…Ø§Ø¡ ÙˆÙ…ÙŠØ²Ø§Ù†ÙŠØ§Øª ÙƒÙ„...  department_management
3                  Ù…Ø§ Ù‡ÙŠ Ø£Ù‚ØµÙ‰ ÙˆØ£Ø¯Ù†Ù‰ Ù…ÙŠØ²Ø§Ù†ÙŠØ© Ù„Ù„Ø£Ù‚Ø³Ø§Ù…ØŸ  department_management
4  Ù…Ø§ Ù‡Ùˆ Ø§Ù„Ù…ØªÙˆØ³Ø· â€‹â€‹Ù„Ø¹Ø¯Ø¯ Ø§Ù„Ù…ÙˆØ¸ÙÙŠÙ† ÙÙŠ Ø§Ù„Ø£Ù‚Ø³Ø§Ù… Ø§Ù„Ø°ÙŠÙ†...  department_management

In [5]:
# STEP 3: Preprocess Arabic text
nlp = stanza.Pipeline('ar', processors='tokenize,lemma')
stopwords = {'ÙÙŠ', 'Ù…Ù†', 'Ø¹Ù„Ù‰', 'Ùˆ', 'Ø¹Ù†', 'Ø¥Ù„Ù‰', 'Ù…Ø¹', 'Ø§Ù„ØªÙŠ', 'Ø§Ù„Ø°ÙŠ', 'Ù‡Ø°Ø§', 'Ø£Ù†', 'Ù…Ø§', 'Ù‡Ùˆ', 'Ù‡ÙŠ'}

def preprocess_arabic(text):
    doc = nlp(text)
    return ' '.join([w.lemma for s in doc.sentences for w in s.words if w.lemma not in stopwords])

Downloading https://raw.githubusercontent.com/stanfordnlp/stanza-resources/main/resources_1.10.0.json:   0%|  â€¦

In [6]:

# Apply preprocessing + task prefix
df['input_text'] = df['arabic'].apply(lambda x: "ØªØ±Ø¬Ù… Ø¥Ù„Ù‰ SQL: " + preprocess_arabic(x))
df['target_text'] = df['query']

In [7]:
# STEP 4: Split data
X = df['input_text'].tolist()
y = df['target_text'].tolist()
db_ids = df['db_id'].tolist()

X_train, X_temp, y_train, y_temp, db_train, db_temp = train_test_split(X, y, db_ids, test_size=0.3, random_state=42)
X_val, X_test, y_val, y_test, db_val, db_test = train_test_split(X_temp, y_temp, db_temp, test_size=0.5, random_state=42)

In [8]:
# STEP 5: Load model and tokenizer
model_name = "google/mt5-small"
tokenizer = MT5Tokenizer.from_pretrained(model_name)
model = MT5ForConditionalGeneration.from_pretrained(model_name)

tokenizer_config.json:   0%|          | 0.00/82.0 [00:00<?, ?B/s]

spiece.model:   0%|          | 0.00/4.31M [00:00<?, ?B/s]

special_tokens_map.json:   0%|          | 0.00/99.0 [00:00<?, ?B/s]

config.json:   0%|          | 0.00/553 [00:00<?, ?B/s]

You are using the default legacy behaviour of the <class 'transformers.models.t5.tokenization_t5.T5Tokenizer'>. This is expected, and simply means that the `legacy` (previous) behavior will be used so nothing changes for you. If you want to use the new behaviour, set `legacy=False`. This should only be set if you understand what it means, and thoroughly read the reason why this was added as explained in https://github.com/huggingface/transformers/pull/24565

pytorch_model.bin:   0%|          | 0.00/1.20G [00:00<?, ?B/s]

generation_config.json:   0%|          | 0.00/147 [00:00<?, ?B/s]

In [9]:
# STEP 6: Tokenize
max_len = 128

def tokenize_data(X, y):
    encodings = tokenizer(X, padding=True, truncation=True, max_length=max_len, return_tensors="pt")
    targets = tokenizer(y, padding=True, truncation=True, max_length=max_len, return_tensors="pt")
    return encodings, targets

train_enc, train_tar = tokenize_data(X_train, y_train)
val_enc, val_tar = tokenize_data(X_val, y_val)

In [10]:
# STEP 7: Create DataLoaders
dev = torch.device("cuda" if torch.cuda.is_available() else "cpu")

train_dataset = TensorDataset(train_enc['input_ids'], train_enc['attention_mask'], train_tar['input_ids'])
val_dataset = TensorDataset(val_enc['input_ids'], val_enc['attention_mask'], val_tar['input_ids'])

train_loader = DataLoader(train_dataset, batch_size=4, shuffle=True)
val_loader = DataLoader(val_dataset, batch_size=4)

In [11]:
# STEP 8: Training
model.to(dev)
optimizer = AdamW(model.parameters(), lr=5e-5)
num_epochs = 8

for epoch in range(num_epochs):
    model.train()
    total_loss = 0
    loop = tqdm(train_loader, desc=f"Epoch {epoch+1}/{num_epochs}")

    for batch in loop:
        input_ids, attention_mask, labels = [b.to(dev) for b in batch]
        labels[labels == tokenizer.pad_token_id] = -100

        outputs = model(input_ids=input_ids, attention_mask=attention_mask, labels=labels)
        loss = outputs.loss
        loss.backward()

        optimizer.step()
        optimizer.zero_grad()

        total_loss += loss.item()
        loop.set_postfix(loss=loss.item())

/usr/local/lib/python3.10/dist-packages/transformers/optimization.py:591: FutureWarning: This implementation of AdamW is deprecated and will be removed in a future version. Use the PyTorch implementation torch.optim.AdamW instead, or set `no_deprecation_warning=True` to disable this warning
  warnings.warn(
Epoch 1/8:   0%|          | 0/1120 [00:00<?, ?it/s]Passing a tuple of `past_key_values` is deprecated and will be removed in Transformers v4.48.0. You should pass an instance of `EncoderDecoderCache` instead, e.g. `past_key_values=EncoderDecoderCache.from_legacy_cache(past_key_values)`.
Epoch 1/8: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1120/1120 [05:39<00:00,  3.29it/s, loss=4.32]
Epoch 2/8: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1120/1120 [05:40<00:00,  3.29it/s, loss=3.51]
Epoch 3/8: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1120/1120 [05:40<00:00,  3.28it/s, loss=3.34]
Epoch 4/8: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1120/1120 [05:40<00:00,  3.29it/s, loss=2.9]
Epoch 5/8: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1120/1120 [05:40<00:00,  3.29it/s, loss=1.27]
Epoch 6/8: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1120/1120 [05:40<00:00,  3.29it/s, loss=2.09]
Epoch 7/8: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1120/1120 [05:40<00:00,  3.29it/s, loss=2.63]
Epoch 8/8: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1120/1120 [05:40<00:00,  3.28it/s, loss=2.27]

In [19]:
# STEP 9: Inference function
def generate_sql(question, table_names=None):
    model.eval()
    schema_part = f" ### Ø§Ù„Ø¬Ø¯Ø§ÙˆÙ„: {', '.join(table_names)}" if table_names else ""
    prompt = "ØªØ±Ø¬Ù… Ø¥Ù„Ù‰ SQL: " + preprocess_arabic(question) + schema_part
    inputs = tokenizer(prompt, return_tensors="pt", truncation=True, padding=True, max_length=max_len).to(dev)
    outputs = model.generate(**inputs, max_length=max_len, num_beams=4, early_stopping=True)
    return tokenizer.decode(outputs[0], skip_special_tokens=True)

In [23]:
# STEP 10: Build test_data list from X_test, y_test, db_test
test_data = []
for i in range(len(X_test)):
    row = df[df['input_text'] == X_test[i]].iloc[0]
    test_data.append({
        "question": row['arabic'],
        "query": y_test[i],
        "db_id": db_test[i],
        "table_names": row.get('table_names', [])
    })

In [29]:
# STEP 11: Evaluation using test_data format
smoothie = SmoothingFunction().method4
def execute_sql(db_id, sql_query):
    db_path = f"/kaggle/input/txttosql-nlp/database/{db_id}.sqlite"
    try:
        conn = sqlite3.connect(db_path)
        cursor = conn.cursor()
        cursor.execute(sql_query)
        result = cursor.fetchall()
        conn.close()
        return result
    except Exception as e:
        return f"Error: {str(e)}"

# Metrics tracking
exact_match_count = 0
execution_match_count = 0
bleu_scores = []
total_samples = len(test_data)

for idx, entry in enumerate(test_data[:50]):
    print(f"Sample {idx + 1}/{min(50, len(test_data))}")

    print(f"ğŸ”¸ Question: {entry['question']}")
    print(f"ğŸ“ DB: {entry['db_id']}.sqlite")
    print(f"âœ… Ground Truth SQL: {entry['query']}")
    arabic_question = entry["question"]
    correct_sql = sqlparse.format(entry["query"], reindent=True, keyword_case="upper")
    db_id = entry["db_id"]

    predicted_sql = generate_sql(arabic_question, entry.get("table_names", [])).strip()
    print(f"âœ¨ Predicted SQL: {predicted_sql}")

    # Exact Match Accuracy
    if predicted_sql.strip() == correct_sql.strip():
        exact_match_count += 1

    # Execution Accuracy
    correct_result = execute_sql(db_id, correct_sql)
    predicted_result = execute_sql(db_id, predicted_sql)
    if correct_result == predicted_result:
        print("âœ… SQL execution matched.")
        execution_match_count += 1
    else:
        print("âŒ Execution mismatch or error occurred.")
        print("Correct Result:", correct_result)
        print("Predicted Result:", predicted_result)

    # BLEU Score (SQL as tokenized words)
    reference_tokens = correct_sql.split()
    predicted_tokens = predicted_sql.split()
    bleu_scores.append(sentence_bleu([reference_tokens], predicted_tokens, smoothing_function=smoothie))

# Final Metrics
exact_match_acc = exact_match_count / total_samples
execution_acc = execution_match_count / total_samples
average_bleu = sum(bleu_scores) / total_samples

# Display Results
print(f"âœ… Exact Match Accuracy: {exact_match_acc:.4f}")
print(f"âœ… Execution Accuracy: {execution_acc:.4f}")
print(f"âœ… Average BLEU Score: {average_bleu:.4f}")

Sample 1/50
ğŸ”¸ Question: Ù…Ø§ Ù‡ÙŠ Ø£ÙˆØ¶Ø§Ø¹ Ø§Ù„Ù„Ø§Ø¹Ø¨ÙŠÙ† Ù…Ø¹ Ù…ØªÙˆØ³Ø· Ø¹Ø¯Ø¯ Ø§Ù„Ù†Ù‚Ø§Ø· Ø§Ù„Ù…ÙØ³Ø¬ÙÙ‘Ù„Ø© Ù…Ù† Ù‚Ø¨Ù„ Ø§Ù„Ù„Ø§Ø¹Ø¨ÙŠÙ† ÙÙŠ ØªÙ„Ùƒ Ø§Ù„ÙˆØ¶Ø¹ Ø£ÙƒØ¨Ø± Ù…Ù† 20ØŸ
ğŸ“ DB: sports_competition.sqlite
âœ… Ground Truth SQL: SELECT POSITION ,  avg(Points) FROM player GROUP BY POSITION
âœ¨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name FROM exhibition AS T1 JOIN film AS T2 ON T1.film_id = T2.film_id WHERE T1.film_id = T2.film_id GROUP BY T1.film_id ORDER BY count(*) DESC LIMIT 1
âœ… SQL execution matched.
Sample 2/50
ğŸ”¸ Question: [Question] Ø£Ø¹Ø· Ø§Ù„Ù…Ø¯ÙŠÙ†Ø© Ø§Ù„ØªÙŠ ÙŠØ¹ÙŠØ´ ÙÙŠÙ‡Ø§ Ø§Ù„Ø·Ø§Ù„Ø¨ Ø§Ù„Ø°ÙŠ ÙŠØ­Ù…Ù„ Ø§Ø³Ù… Ø§Ù„Ø¹Ø§Ø¦Ù„Ø© Kim.
ğŸ“ DB: allergy_1.sqlite
âœ… Ground Truth SQL: SELECT city_code FROM Student WHERE LName  =  "Kim"
âœ¨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
âœ… SQL execution matched.
Sample 3/50
ğŸ”¸ Question: ÙØ±Ø² Ù‚Ø§Ø¦Ù…Ø© Ø¬Ù…ÙŠØ¹ Ø§Ù„Ø£Ø³Ù…Ø§Ø¡ Ø§Ù„Ø£ÙˆÙ„Ù‰ ÙˆØ§Ù„Ø£Ù„Ù‚Ø§Ø¨ Ù„Ù„ÙƒØªÙ‘Ø§Ø¨ ØªØ±ØªÙŠØ¨Ø§Ù‹ Ø£Ø¨Ø¬Ø¯ÙŠØ§Ù‹ Ø­Ø³Ø¨ Ø§Ù„Ø£Ù„Ù‚Ø§Ø¨.
ğŸ“ DB: icfp_1.sqlite
âœ… Ground Truth SQL: SELECT fname ,  lname FROM authors ORDER BY lname
âœ¨ Predicted SQL: SELECT count(*) FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
âœ… SQL execution matched.
Sample 4/50
ğŸ”¸ Question: Ù…Ø§ Ù‡ÙŠ Ø£Ø³Ù…Ø§Ø¡ Ø¬Ù…ÙŠØ¹ Ø§Ù„Ø£ØºØ§Ù†ÙŠ Ø§Ù„ØªÙŠ ÙŠÙƒÙˆÙ† Ø£Ù„Ø¨ÙˆÙ…Ù‡Ø§ ØªØ­Øª Ø¹Ù„Ø§Ù…Ø© "Universal Music Group"ØŸ
ğŸ“ DB: music_2.sqlite
âœ… Ground Truth SQL: SELECT T3.title FROM albums AS T1 JOIN tracklists AS T2 ON T1.aid  =  T2.albumid JOIN songs AS T3 ON T2.songid  =  T3.songid WHERE t1.label  =  "Universal Music Group"
âœ¨ Predicted SQL: SELECT T1.name FROM film AS T1 JOIN film AS T2 ON T1.film_id = T2.film_id WHERE T1.film_id = T2.film_id GROUP BY T1.film_id ORDER BY count(*) DESC LIMIT 1
âœ… SQL execution matched.
Sample 5/50
ğŸ”¸ Question: Ù…Ø§ Ù‡Ùˆ ØªØ§Ø±ÙŠØ® Ø§Ù„Ø·Ù„Ø¨ Ù„ÙƒÙ„ Ø­Ø¬Ø²ØŸ
ğŸ“ DB: cre_Drama_Workshop_Groups.sqlite
âœ… Ground Truth SQL: SELECT Order_Date FROM BOOKINGS
âœ¨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name FROM
âœ… SQL execution matched.
Sample 6/50
ğŸ”¸ Question: "Ø£ÙŠ Ù…Ù†ØªØ¬ ØªÙ… Ø·Ù„Ø¨Ù‡ Ø§Ù„Ø£ÙƒØ«Ø± Ø¹Ø¯Ø¯Ù‹Ø§ Ù…Ù† Ø§Ù„Ù…Ø±Ø§ØªØŸ"
ğŸ“ DB: customers_and_addresses.sqlite
âœ… Ground Truth SQL: SELECT sum(t2.order_quantity) FROM customer_orders AS t1 JOIN order_items AS t2 ON t1.order_id  =  t2.order_id WHERE t1.order_date  <  "2018-03-17 07:13:53"
âœ¨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
âœ… SQL execution matched.
Sample 7/50
ğŸ”¸ Question: ÙƒÙ… Ø¹Ø¯Ø¯ Ø§Ù„Ù…Ø¯Ø±Ø³ÙŠÙ† Ø§Ù„Ù…Ø®ØªÙ„ÙÙŠÙ† Ø§Ù„Ø°ÙŠÙ† Ù‚Ø§Ù…ÙˆØ§ Ø¨ØªØ¯Ø±ÙŠØ³ Ø¨Ø¹Ø¶ Ø§Ù„Ø¯ÙˆØ±Ø§ØªØŸ
ğŸ“ DB: college_2.sqlite
âœ… Ground Truth SQL: SELECT COUNT (DISTINCT id) FROM teaches
âœ¨ Predicted SQL: SELECT count(*) FROM employees
âœ… SQL execution matched.
Sample 8/50
ğŸ”¸ Question: Ù…Ø§ Ù‡Ùˆ Ù…ØªÙˆØ³Ø· Ù†Ù‚Ø§Ø· Ø§Ù„Ø³Ù†Ø§ØªØ´ Ù„Ø¨Ù†Ø§Ø© Ø§Ù„Ø£Ø¬Ø³Ø§Ù…ØŸ
ğŸ“ DB: body_builder.sqlite
âœ… Ground Truth SQL: SELECT avg(Snatch) FROM body_builder
âœ¨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name ,
âœ… SQL execution matched.
Sample 9/50
ğŸ”¸ Question: Ù…Ø§ Ù‡ÙŠ Ø£Ø³Ù…Ø§Ø¡ Ø§Ù„Ù†ÙˆØ§Ø¨ Ø¨ØªØ±ØªÙŠØ¨ ØªÙ†Ø§Ø²Ù„ÙŠ Ø­Ø³Ø¨ Ø§Ù„Ø£ØµÙˆØ§ØªØŸ
ğŸ“ DB: election_representative.sqlite
âœ… Ground Truth SQL: SELECT T2.Name FROM election AS T1 JOIN representative AS T2 ON T1.Representative_ID  =  T2.Representative_ID ORDER BY votes DESC
âœ¨ Predicted SQL: SELECT count(*) FROM player
âœ… SQL execution matched.
Sample 10/50
ğŸ”¸ Question: Ø£Ø¹Ø· Ù…Ø¹Ø±Ù Ø§Ù„Ù…Ù†ØªØ¬ ÙˆÙ†ÙˆØ¹ Ø§Ù„Ù…Ù†ØªØ¬ Ù„Ù„Ù…Ù†ØªØ¬ Ø¨Ø£Ù‚Ù„ Ø³Ø¹Ø±.
ğŸ“ DB: department_store.sqlite
âœ… Ground Truth SQL: SELECT product_id ,  product_type_code FROM products ORDER BY product_price LIMIT 1
âœ¨ Predicted SQL: SELECT count(*) FROM customer WHERE customer_id = "customer_id GROUP BY customer_id ORDER BY customer_id
âœ… SQL execution matched.
Sample 11/50
ğŸ”¸ Question: [Question] Ø£Ø¸Ù‡Ø± Ø¬Ù…ÙŠØ¹ Ù…Ø¹Ø±Ù Ø§Ù„Ø·Ù„Ø§Ø¨ Ø§Ù„Ø°ÙŠÙ† ÙŠÙ…ØªÙ„ÙƒÙˆÙ† Ù…Ø§ Ù„Ø§ ÙŠÙ‚Ù„ Ø¹Ù† Ø­Ø³Ø§Ø³ÙŠØ©ÙŠÙ†.
ğŸ“ DB: allergy_1.sqlite
âœ… Ground Truth SQL: SELECT StuID FROM Has_allergy GROUP BY StuID HAVING count(*)  >=  2
âœ¨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN employees AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
âœ… SQL execution matched.
Sample 12/50
ğŸ”¸ Question: Ø§Ù„Ø¹Ø«ÙˆØ± Ø¹Ù„Ù‰ Ø§Ù„Ø±Ø§ØªØ¨ Ø§Ù„Ø£Ø¯Ù†Ù‰ Ù„Ù„Ø£Ù‚Ø³Ø§Ù… Ø§Ù„ØªÙŠ ÙŠÙƒÙˆÙ† Ù…ØªÙˆØ³Ø· Ø§Ù„Ø±Ø§ØªØ¨ ÙÙŠÙ‡Ø§ Ø£Ø¹Ù„Ù‰ Ù…Ù† Ø§Ù„Ù…ØªÙˆØ³Ø· Ø§Ù„Ø¹Ø§Ù… Ù„Ø¬Ù…ÙŠØ¹ Ø§Ù„Ù…Ø¯Ø±Ø³ÙŠÙ†.
ğŸ“ DB: college_2.sqlite
âœ… Ground Truth SQL: SELECT min(salary) ,  dept_name FROM instructor GROUP BY dept_name HAVING avg(salary)  >  (SELECT avg(salary) FROM instructor)
âœ¨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name FROM employees AS T1 JOIN employees AS T2 ON T1.employee_id = T2.employee_id WHERE T1.employee_id = T2.employee_id GROUP BY T1.employee_id ORDER BY T1.employee_id DESC LIMIT 1
âœ… SQL execution matched.
Sample 13/50
ğŸ”¸ Question: Ù…Ø§ Ù‡ÙŠ Ø§Ù„Ù…ØªÙˆØ³Ø· ÙˆØ§Ù„Ø­Ø¶ÙˆØ± Ø§Ù„Ø£Ù‚ØµÙ‰ Ù„Ø¬Ù…ÙŠØ¹ Ø§Ù„Ø£Ø­Ø¯Ø§Ø«ØŸ
ğŸ“ DB: news_report.sqlite
âœ… Ground Truth SQL: SELECT Name FROM journalist WHERE journalist_ID NOT IN (SELECT journalist_ID FROM news_report)
âœ¨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name FROM
âœ… SQL execution matched.
Sample 14/50
ğŸ”¸ Question: [Question] Ù…Ø§ Ù‡Ùˆ Ø§Ù„Ø±Ø§ØªØ¨ ÙˆØ§Ø³Ù… Ø§Ù„Ù…ÙˆØ¸Ù Ø§Ù„Ø°ÙŠ ÙŠØ­Ù…Ù„ Ø£ÙƒØ¨Ø± Ø¹Ø¯Ø¯ Ù…Ù† Ø§Ù„Ø´Ù‡Ø§Ø¯Ø§Øª Ø¹Ù„Ù‰ Ø§Ù„Ø·Ø§Ø¦Ø±Ø§Øª Ø§Ù„ØªÙŠ ØªØªØ¬Ø§ÙˆØ² Ù…Ø³Ø§ÙØªÙ‡Ø§ 5000ØŸ
ğŸ“ DB: flight_1.sqlite
âœ… Ground Truth SQL: SELECT T1.name FROM Employee AS T1 JOIN Certificate AS T2 ON T1.eid  =  T2.eid JOIN Aircraft AS T3 ON T3.aid  =  T2.aid WHERE T3.distance  >  5000 GROUP BY T1.eid ORDER BY count(*) DESC LIMIT 1
âœ¨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id HAVING count(*) > 5000
âœ… SQL execution matched.
Sample 15/50
ğŸ”¸ Question: Ù…Ø§ Ù‡Ùˆ Ù…ØªÙˆØ³Ø· Ù†Ù‚Ø§Ø· Ø§Ù„Ø¯Ø±Ø¬Ø§Øª Ù„Ù„Ø·Ù„Ø§Ø¨ Ø§Ù„Ø°ÙŠÙ† ÙŠØ­Ù…Ù„ÙˆÙ† Ø§Ø³Ù… Ø§Ù„Ø¹Ø§Ø¦Ù„Ø© SmithØŸ
ğŸ“ DB: college_3.sqlite
âœ… Ground Truth SQL: SELECT avg(T2.gradepoint) FROM ENROLLED_IN AS T1 JOIN GRADECONVERSION AS T2 JOIN STUDENT AS T3 ON T1.Grade  =  T2.lettergrade AND T1.StuID  =  T3.StuID WHERE T3.LName  =  "Smith"
âœ¨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
âœ… SQL execution matched.
Sample 16/50
ğŸ”¸ Question: Ù…Ø§ Ù‡Ùˆ Ù…Ø¹Ø±Ù‘ÙÙ Ø§Ù„Ù…Ø±ÙŠØ¶ Ø§Ù„Ø°ÙŠ Ù‚Ø§Ù… Ø¨Ø§Ù„Ø¥Ù‚Ø§Ù…Ø© ÙÙŠ Ø§Ù„ØºØ±ÙØ© 111 Ø¨Ø´ÙƒÙ„ Ø£Ø­Ø¯Ø«ØŸ
ğŸ“ DB: hospital_1.sqlite
âœ… Ground Truth SQL: SELECT patient FROM stay WHERE room  =  111 ORDER BY staystart DESC LIMIT 1
âœ¨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
âœ… SQL execution matched.
Sample 17/50
ğŸ”¸ Question: Ù…Ø§ Ù‡Ùˆ Ù…ØªÙˆØ³Ø· ÙˆØ£Ø¯Ù†Ù‰ Ø³Ø¹Ø± Ù„Ù„ØºØ±Ù ÙÙŠ Ø£Ù†ÙˆØ§Ø¹ Ù…Ø®ØªÙ„ÙØ© Ù…Ù† Ø§Ù„Ø¯ÙŠÙƒÙˆØ±ØŸ
ğŸ“ DB: inn_1.sqlite
âœ… Ground Truth SQL: SELECT decor ,  count(*) FROM Rooms WHERE bedType = "King" GROUP BY decor;
âœ¨ Predicted SQL: SELECT T1.product_name FROM products AS T1 JOIN products AS T2 ON T1.product_id = T2.product_id WHERE T1.product_id = T2.product_id GROUP BY T1.product_id ORDER BY count(*) DESC LIMIT 1
âœ… SQL execution matched.
Sample 18/50
ğŸ”¸ Question: ÙƒÙ… Ø¹Ø¯Ø¯ Ø§Ù„Ø£Ù†Ø¯ÙŠØ©ØŸ
ğŸ“ DB: college_1.sqlite
âœ… Ground Truth SQL: SELECT T1.stu_fname FROM student AS T1 JOIN enroll AS T2 ON T1.stu_num  =  T2.stu_num JOIN CLASS AS T3 ON T2.class_code  =  T3.class_code WHERE T3.crs_code  =  'ACCT-211' AND T1.stu_lname LIKE 'S%'
âœ¨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name FROM authors AS T1 JOIN authors AS T2 ON T1.name = T2.name GROUP BY T1.name
âœ… SQL execution matched.
Sample 19/50
ğŸ”¸ Question: Ø£Ø¹Ø·Ù Ø§Ù„Ù…Ø¯Ù† Ø§Ù„Ø£ØµÙ„ÙŠØ© Ø§Ù„ØªÙŠ ÙŠØ£ØªÙŠ Ù…Ù†Ù‡Ø§ Ø¬Ù…Ø¨Ø§Ø²Ø§Ù† Ø¹Ù„Ù‰ Ø§Ù„Ø£Ù‚Ù„.
ğŸ“ DB: gymnast.sqlite
âœ… Ground Truth SQL: SELECT T2.Hometown FROM gymnast AS T1 JOIN people AS T2 ON T1.Gymnast_ID  =  T2.People_ID GROUP BY T2.Hometown HAVING COUNT(*)  >=  2
âœ¨ Predicted SQL: SELECT T1.name FROM Employees AS T1 JOIN Customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
âœ… SQL execution matched.
Sample 20/50
ğŸ”¸ Question: Ù‚Ø§Ø¦Ù…Ø© Ø¨Ø§Ø³Ù… ÙˆØ¹Ø¯Ø¯ Ø§Ù„Ù…ØªØ§Ø¨Ø¹ÙŠÙ† Ù„ÙƒÙ„ Ù…Ø³ØªØ®Ø¯Ù…ØŒ ÙˆÙ‚Ù… Ø¨ÙØ±Ø² Ø§Ù„Ù†ØªØ§Ø¦Ø¬ Ø­Ø³Ø¨ Ø¹Ø¯Ø¯ Ø§Ù„Ù…ØªØ§Ø¨Ø¹ÙŠÙ† Ø¨ØªØ±ØªÙŠØ¨ ØªÙ†Ø§Ø²Ù„ÙŠ.
ğŸ“ DB: twitter_1.sqlite
âœ… Ground Truth SQL: SELECT name ,  followers FROM user_profiles ORDER BY followers DESC
âœ¨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name ,
âœ… SQL execution matched.
Sample 21/50
ğŸ”¸ Question: Ù„ÙƒÙ„ Ù…ÙˆÙ‚Ø¹ØŒ ÙƒÙ… Ø¹Ø¯Ø¯ Ù…Ø­Ø·Ø§Øª Ø§Ù„ÙˆÙ‚ÙˆØ¯ Ø§Ù„Ù…ÙˆØ¬ÙˆØ¯Ø© Ø¨ØªØ±ØªÙŠØ¨ØŸ
ğŸ“ DB: gas_company.sqlite
âœ… Ground Truth SQL: SELECT LOCATION ,  count(*) FROM gas_station GROUP BY LOCATION ORDER BY count(*)
âœ¨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name ,
âœ… SQL execution matched.
Sample 22/50
ğŸ”¸ Question: ÙƒÙ… Ù„Ø§Ø¹Ø¨ Ù…Ø®ØªÙ„Ù ØªØ¯Ø±Ø¨ Ù„Ø£ÙƒØ«Ø± Ù…Ù† 1000 Ø³Ø§Ø¹Ø©ØŸ
ğŸ“ DB: soccer_2.sqlite
âœ… Ground Truth SQL: SELECT count(*) FROM Player WHERE HS  >  1000
âœ¨ Predicted SQL: SELECT count(*) FROM player WHERE age > 1000
âœ… SQL execution matched.
Sample 23/50
ğŸ”¸ Question: Ù…Ø§ Ù‡Ùˆ Ø¹Ø¯Ø¯ Ø§Ù„Ø¹Ù†Ø§ØµØ± Ø§Ù„ØªÙŠ Ù„Ù… ØªØªÙ„Ù‚Ù‰ Ø£ÙŠ Ù…Ø±Ø§Ø¬Ø¹Ø©ØŸ
ğŸ“ DB: epinions_1.sqlite
âœ… Ground Truth SQL: SELECT count(*) FROM item WHERE i_id NOT IN (SELECT i_id FROM review)
âœ¨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN employees AS T2 ON T1.staff_id = T2.staff_id WHERE T1.staff_id = T2.staff_id GROUP BY T1.staff_id ORDER BY count(*) DESC LIMIT 1
âœ… SQL execution matched.
Sample 24/50
ğŸ”¸ Question: Ø£Ø¹Ø· ÙˆØµÙ Ø§Ù„Ù„ÙˆÙ† Ø§Ù„Ø£Ù‚Ù„ Ø´ÙŠÙˆØ¹Ù‹Ø§ Ø¹Ø¨Ø± Ø§Ù„Ù…Ù†ØªØ¬Ø§Øª.
ğŸ“ DB: products_gen_characteristics.sqlite
âœ… Ground Truth SQL: SELECT t2.color_description FROM products AS t1 JOIN ref_colors AS t2 ON t1.color_code  =  t2.color_code GROUP BY t2.color_description ORDER BY count(*) ASC LIMIT 1
âœ¨ Predicted SQL: SELECT count(*) FROM products
âœ… SQL execution matched.
Sample 25/50
ğŸ”¸ Question: Ù…Ø§ Ù‡Ùˆ Ø§Ø³Ù… Ø§Ù„Ù‚Ø³Ù… Ø§Ù„Ø°ÙŠ ÙŠÙ†ØªÙ…ÙŠ Ø¥Ù„ÙŠÙ‡ Ø§Ù„Ø·Ø§Ù„Ø¨ Ø§Ù„Ø°ÙŠ ÙŠÙ…ØªÙ„Ùƒ Ø£Ù‚Ù„ Ù…Ø¹Ø¯Ù„ Ù†Ù‚Ø§Ø· ØªØ±Ø§ÙƒÙ…ÙŠØŸ
ğŸ“ DB: college_1.sqlite
âœ… Ground Truth SQL: SELECT T2.dept_name FROM student AS T1 JOIN department AS T2 ON T1.dept_code  =  T2.dept_code ORDER BY stu_gpa LIMIT 1
âœ¨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN employees AS T2 ON T1.staff_id = T2.staff_id WHERE T1.staff_id = T2.staff_id WHERE T1.staff_id = T2.staff_id = T2.staff_id GROUP BY T1.staff_id ORDER BY count(*) DESC LIMIT 1
âœ… SQL execution matched.
Sample 26/50
ğŸ”¸ Question: Ø¹Ø¯Ø¯ ÙØ±ÙˆØ¹ Ø§Ù„Ø¨Ù†ÙƒØŸ
ğŸ“ DB: loan_1.sqlite
âœ… Ground Truth SQL: SELECT count(*) FROM bank
âœ¨ Predicted SQL: SELECT count(*) FROM products
âœ… SQL execution matched.
Sample 27/50
ğŸ”¸ Question: [Translation] Ù…Ø§ Ù‡ÙŠ Ø£Ø±Ù‚Ø§Ù… ØªØ¹Ø±ÙŠÙÙŠØ© Ø§Ù„Ø·Ù„Ø§Ø¨ Ø§Ù„Ø°ÙŠÙ† Ø³Ø¬Ù„ÙˆØ§ ÙÙŠ Ø§Ù„Ø¯ÙˆØ±Ø© 301 Ù…Ø¤Ø®Ø±Ù‹Ø§ØŸ
ğŸ“ DB: student_assessment.sqlite
âœ… Ground Truth SQL: SELECT student_id FROM student_course_attendance WHERE course_id = 301 ORDER BY date_of_attendance DESC LIMIT 1
âœ¨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
âœ… SQL execution matched.
Sample 28/50
ğŸ”¸ Question: ÙƒÙ… Ø¹Ø¯Ø¯ Ø§Ù„Ù…Ø¯Ù† Ø§Ù„Ù…Ø®ØªÙ„ÙØ© Ø§Ù„ØªÙŠ ÙŠÙˆØ¬Ø¯ ÙÙŠÙ‡Ø§ Ø§Ù„Ø¨Ù†ÙˆÙƒØŸ
ğŸ“ DB: loan_1.sqlite
âœ… Ground Truth SQL: SELECT state ,  acc_type ,  credit_score FROM customer WHERE no_of_loans  =  0
âœ¨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name FROM employees AS T1 JOIN employees AS T2 ON T1.employeeid = T2.employeeid WHERE T1.employeeid = T2.employeeid WHERE T1.employeeid = T2.employeeid WHERE T1.employeeid = T2.employeeid
âœ… SQL execution matched.
Sample 29/50
ğŸ”¸ Question: [Question] Ù…Ø§ Ù‡ÙŠ Ø£Ø³Ù…Ø§Ø¡ Ø§Ù„Ø¥Ù†Ø²ÙŠÙ…Ø§Øª ÙÙŠ Ø§Ù„Ø¯ÙˆØ§Ø¡ Ø§Ù„Ù…Ø³Ù…Ù‰ 'Amisulpride' Ø§Ù„ØªÙŠ ÙŠÙ…ÙƒÙ† Ø£Ù† ØªØ¹Ù…Ù„ ÙƒÙ€ 'Ù…Ø«Ø¨Ø·'ØŸ
ğŸ“ DB: medicine_enzyme_interaction.sqlite
âœ… Ground Truth SQL: SELECT T1.name FROM enzyme AS T1 JOIN medicine_enzyme_interaction AS T2 ON T1.id  =  T2.enzyme_id JOIN medicine AS T3 ON T2.medicine_id  =  T3.id WHERE T3.name  =  'Amisulpride' AND T2.interaction_type  =  'inhibitor'
âœ¨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN employees AS T2 ON T1.id = T2.id WHERE T1.id = T2.id GROUP BY T1.id ORDER BY count(*) DESC LIMIT 1
âœ… SQL execution matched.
Sample 30/50
ğŸ”¸ Question: ÙƒÙ… Ø¹Ø¯Ø¯ Ø§Ù„Ù…ØªØ§Ø¬Ø± Ø§Ù„ØªÙŠ ÙŠÙ‚Ø¹ Ù…Ù‚Ø±Ù‡Ø§ ÙÙŠ ÙƒÙ„ Ù…Ø¯ÙŠÙ†Ø©ØŸ
ğŸ“ DB: store_product.sqlite
âœ… Ground Truth SQL: SELECT t3.headquartered_city ,  count(*) FROM store AS t1 JOIN store_district AS t2 ON t1.store_id  =  t2.store_id JOIN district AS t3 ON t2.district_id  =  t3.district_id GROUP BY t3.headquartered_city
âœ¨ Predicted SQL: SELECT count(*) FROM customer WHERE customer_id = "SELECT customer_id GROUP BY customer_id ORDER BY customer_id DESC LIMIT 1
âœ… SQL execution matched.
Sample 31/50
ğŸ”¸ Question: Ø§Ø¨Ø­Ø« Ø¹Ù† Ø§Ù„Ø§Ø³Ù…ØŒ Ø§Ù„ØªØ³Ø¬ÙŠÙ„ ÙÙŠ Ø§Ù„ÙƒÙ„ÙŠØ§Øª Ø§Ù„ØªÙŠ ÙŠÙƒÙˆÙ† Ø­Ø¬Ù…Ù‡Ø§ Ø£ÙƒØ¨Ø± Ù…Ù† 10000 ÙˆØ§Ù„Ù…ÙˆÙ‚Ø¹ ÙÙŠ ÙˆÙ„Ø§ÙŠØ© Ù„ÙˆÙŠØ²ÙŠØ§Ù†Ø§.
ğŸ“ DB: soccer_2.sqlite
âœ… Ground Truth SQL: SELECT DISTINCT pName FROM Player WHERE pName LIKE '%a%'
âœ¨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name ,
âœ… SQL execution matched.
Sample 32/50
ğŸ”¸ Question: Ù…Ø§ Ù‡ÙŠ Ù…ÙˆØ§Ù‚Ø¹ Ø¬Ù…ÙŠØ¹ Ù…Ø­Ø·Ø§Øª Ø§Ù„ÙˆÙ‚ÙˆØ¯ Ù…Ø±ØªØ¨Ø© Ø­Ø³Ø¨ Ø³Ù†Ø© Ø§Ù„Ø§ÙØªØªØ§Ø­ØŸ
ğŸ“ DB: gas_company.sqlite
âœ… Ground Truth SQL: SELECT LOCATION FROM gas_station ORDER BY open_year
âœ¨ Predicted SQL: SELECT count(*) FROM products WHERE product_type_code = "F"
âœ… SQL execution matched.
Sample 33/50
ğŸ”¸ Question: Ø£ÙŠ Ø¹Ù…ÙŠÙ„ Ù‚Ø§Ù… Ø¨Ø¹Ù…Ù„ÙŠØ© Ø¯ÙØ¹ ÙˆØ§Ø­Ø¯Ø© Ø¹Ù„Ù‰ Ø§Ù„Ø£Ù‚Ù„ Ù‚Ø¯ Ø£Ù†ÙÙ‚ Ø£Ù‚Ù„ Ù…Ø¨Ù„ØºØŸ Ù‚Ù… Ø¨ØªÙ‚Ø¯ÙŠÙ… Ø§Ù„Ø§Ø³Ù… Ø§Ù„Ø£ÙˆÙ„ ÙˆØ§Ù„Ø§Ø³Ù… Ø§Ù„Ø£Ø®ÙŠØ±ØŒ ÙˆØ§Ù„Ù…Ø¹Ø±Ù.
ğŸ“ DB: sakila_1.sqlite
âœ… Ground Truth SQL: SELECT sum(amount) FROM payment
âœ¨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
âœ… SQL execution matched.
Sample 34/50
ğŸ”¸ Question: [Question] Ù‚Ø§Ø¦Ù…Ø© Ø§Ø³Ù… Ù†Ù…ÙˆØ°Ø¬ Ø§Ù„Ø£Ø¬Ù‡Ø²Ø© ÙˆØ§Ø³Ù… Ø§Ù„Ø´Ø±ÙƒØ© Ù„Ù„Ù‡Ø§ØªÙ Ø§Ù„Ø°ÙŠ ÙŠÙƒÙˆÙ† Ù†ÙˆØ¹ ÙˆØ¶Ø¹ Ø§Ù„Ø´Ø§Ø´Ø© Ø§Ù„Ø®Ø§Øµ Ø¨Ù‡ "Ø§Ù„Ø±Ø³ÙˆÙ…Ø§Øª".
ğŸ“ DB: phone_1.sqlite
âœ… Ground Truth SQL: SELECT T2.Hardware_Model_name ,  T2.Company_name FROM screen_mode AS T1 JOIN phone AS T2 ON T1.Graphics_mode = T2.screen_mode WHERE T1.Type  =  "Graphics";
âœ¨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
âœ… SQL execution matched.
Sample 35/50
ğŸ”¸ Question: Ø£Ø¸Ù‡Ø± Ù‡ÙˆÙŠØ§Øª Ø¬Ù…ÙŠØ¹ Ø§Ù„Ø·Ù„Ø§Ø¨ Ø§Ù„Ø°ÙƒÙˆØ± Ø§Ù„Ø°ÙŠÙ† Ù„Ø§ ÙŠÙ„Ø¹Ø¨ÙˆÙ† ÙƒØ±Ø© Ø§Ù„Ù‚Ø¯Ù….
ğŸ“ DB: game_1.sqlite
âœ… Ground Truth SQL: SELECT StuID FROM Student WHERE sex  =  'F' INTERSECT SELECT StuID FROM Sportsinfo WHERE sportname  =  "Football"
âœ¨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN employees AS T2 ON T1.staff_id = T2.staff_id WHERE T1.staff_id = T2.staff_id = T2.staff_id GROUP BY T1.staff_id ORDER BY count(*) DESC LIMIT 1
âœ… SQL execution matched.
Sample 36/50
ğŸ”¸ Question: ÙƒÙ… Ø¹Ø¯Ø¯ Ø£Ù„Ø¹Ø§Ø¨ Ø§Ù„ÙÙŠØ¯ÙŠÙˆ Ø§Ù„ØªÙŠ Ù„Ø¯ÙŠÙƒØŸ
ğŸ“ DB: game_1.sqlite
âœ… Ground Truth SQL: SELECT count(*) FROM Video_games
âœ¨ Predicted SQL: SELECT T1.name FROM film AS T1 JOIN film AS T2 ON T1.film_id = T2.film_id WHERE T1.film_id = T2.film_id
âœ… SQL execution matched.
Sample 37/50
ğŸ”¸ Question: "Ø§Ø¨Ø­Ø« Ø¹Ù† Ø±Ù…Ø² Ù‚Ù†Ø§Ø© Ø§Ù„Ø§ØªØµØ§Ù„ Ø§Ù„Ø°ÙŠ ØªÙ… Ø§Ø³ØªØ®Ø¯Ø§Ù…Ù‡ Ù…Ù† Ù‚Ø¨Ù„ Ø§Ù„Ø¹Ù…ÙŠÙ„ Ø¨Ø§Ù„Ø§Ø³Ù… 'Tillman Ernser'."
ğŸ“ DB: customers_and_addresses.sqlite
âœ… Ground Truth SQL: SELECT channel_code FROM customer_contact_channels GROUP BY channel_code HAVING count(customer_id)  <  5
âœ¨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name FROM
âœ… SQL execution matched.
Sample 38/50
ğŸ”¸ Question: Ø¹Ø±Ø¶ Ø¬Ù…ÙŠØ¹ Ø£Ø³Ù…Ø§Ø¡ Ø§Ù„Ù…ØªØ§Ø¬Ø± Ù„Ù…Ø¬Ù…ÙˆØ¹Ø§Øª ÙˆØ±Ø´ Ø§Ù„Ø¹Ù…Ù„ Ø§Ù„Ù…Ø³Ø±Ø­ÙŠØ©.
ğŸ“ DB: cre_Drama_Workshop_Groups.sqlite
âœ… Ground Truth SQL: SELECT Customer_Phone ,  Customer_Email_Address FROM CUSTOMERS WHERE Customer_Name  =  "Harold"
âœ¨ Predicted SQL: SELECT T1.name FROM manufacturers AS T1 JOIN manufacturers AS T2 ON T1.product_id = T2.product_id WHERE T1.product_id = T2.product_id GROUP BY T1.product_id ORDER BY T1.product_id DESC LIMIT 1
âœ… SQL execution matched.
Sample 39/50
ğŸ”¸ Question: ÙƒÙ… Ø¹Ø¯Ø¯ Ø§Ù„Ø£Ø¹Ø¶Ø§Ø¡ØŸ
ğŸ“ DB: network_2.sqlite
âœ… Ground Truth SQL: SELECT DISTINCT T4.name FROM PersonFriend AS T1 JOIN Person AS T2 ON T1.name  =  T2.name JOIN PersonFriend AS T3 ON T1.friend  =  T3.name JOIN PersonFriend AS T4 ON T3.friend  =  T4.name WHERE T2.name  =  'Alice' AND T4.name != 'Alice'
âœ¨ Predicted SQL: SELECT count(*) FROM player
âœ… SQL execution matched.
Sample 40/50
ğŸ”¸ Question: Ù…Ø§ Ù‡ÙŠ Ø¬Ù…ÙŠØ¹ Ø§Ù„Ù…Ø¹Ù„ÙˆÙ…Ø§Øª Ø­ÙˆÙ„ Ù…Ù„Ø§Ø­Ø¸Ø§Øª Ø§Ù„ØªÙ‚ÙŠÙŠÙ… Ù…Ø±ØªØ¨Ø© Ø­Ø³Ø¨ Ø§Ù„ØªØ§Ø±ÙŠØ® Ø¨ØªØ±ØªÙŠØ¨ ØªØµØ§Ø¹Ø¯ÙŠØŸ
ğŸ“ DB: behavior_monitoring.sqlite
âœ… Ground Truth SQL: SELECT first_name FROM Teachers WHERE email_address LIKE '%man%'
âœ¨ Predicted SQL: SELECT count(*) FROM exhibition WHERE exhibition_id = 'Spring'
âœ… SQL execution matched.
Sample 41/50
ğŸ”¸ Question: [Question] Ø£Ø¸Ù‡Ø± Ù…Ø¹Ø±Ù Ø§Ù„Ø·Ø§Ù„Ø¨ Ù„Ø¬Ù…ÙŠØ¹ Ø§Ù„Ø·Ù„Ø§Ø¨ Ø§Ù„Ø°ÙƒÙˆØ±.
ğŸ“ DB: allergy_1.sqlite

In [30]:
# STEP 11: Evaluation using test_data format
smoothie = SmoothingFunction().method4
def execute_sql(db_id, sql_query):
    db_path = f"/kaggle/input/txttosql-nlp/database/{db_id}.sqlite"
    try:
        conn = sqlite3.connect(db_path)
        cursor = conn.cursor()
        cursor.execute(sql_query)
        result = cursor.fetchall()
        conn.close()
        return result
    except Exception as e:
        return f"Error: {str(e)}"

# Metrics tracking
exact_match_count = 0
execution_match_count = 0
bleu_scores = []
total_samples = len(test_data)

for idx, entry in enumerate(test_data):
    print(f"Sample {idx + 1}/{len(test_data)}")

    print(f"ğŸ”¸ Question: {entry['question']}")
    print(f"ğŸ“ DB: {entry['db_id']}.sqlite")
    print(f"âœ… Ground Truth SQL: {entry['query']}")
    arabic_question = entry["question"]
    correct_sql = sqlparse.format(entry["query"], reindent=True, keyword_case="upper")
    db_id = entry["db_id"]

    predicted_sql = generate_sql(arabic_question, entry.get("table_names", [])).strip()
    print(f"âœ¨ Predicted SQL: {predicted_sql}")

    # Exact Match Accuracy
    if predicted_sql.strip() == correct_sql.strip():
        exact_match_count += 1

    # Execution Accuracy
    correct_result = execute_sql(db_id, correct_sql)
    predicted_result = execute_sql(db_id, predicted_sql)
    if correct_result == predicted_result:
        print("âœ… SQL execution matched.")
        execution_match_count += 1
    else:
        print("âŒ Execution mismatch or error occurred.")
        print("Correct Result:", correct_result)
        print("Predicted Result:", predicted_result)

    # BLEU Score (SQL as tokenized words)
    reference_tokens = correct_sql.split()
    predicted_tokens = predicted_sql.split()
    bleu_scores.append(sentence_bleu([reference_tokens], predicted_tokens, smoothing_function=smoothie))

# Final Metrics
exact_match_acc = exact_match_count / total_samples
execution_acc = execution_match_count / total_samples
average_bleu = sum(bleu_scores) / total_samples

# Display Results
print(f"âœ… Exact Match Accuracy: {exact_match_acc:.4f}")
print(f"âœ… Execution Accuracy: {execution_acc:.4f}")
print(f"âœ… Average BLEU Score: {average_bleu:.4f}")

Sample 1/960
ğŸ”¸ Question: Ù…Ø§ Ù‡ÙŠ Ø£ÙˆØ¶Ø§Ø¹ Ø§Ù„Ù„Ø§Ø¹Ø¨ÙŠÙ† Ù…Ø¹ Ù…ØªÙˆØ³Ø· Ø¹Ø¯Ø¯ Ø§Ù„Ù†Ù‚Ø§Ø· Ø§Ù„Ù…ÙØ³Ø¬ÙÙ‘Ù„Ø© Ù…Ù† Ù‚Ø¨Ù„ Ø§Ù„Ù„Ø§Ø¹Ø¨ÙŠÙ† ÙÙŠ ØªÙ„Ùƒ Ø§Ù„ÙˆØ¶Ø¹ Ø£ÙƒØ¨Ø± Ù…Ù† 20ØŸ
ğŸ“ DB: sports_competition.sqlite
âœ… Ground Truth SQL: SELECT POSITION ,  avg(Points) FROM player GROUP BY POSITION
âœ¨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name FROM exhibition AS T1 JOIN film AS T2 ON T1.film_id = T2.film_id WHERE T1.film_id = T2.film_id GROUP BY T1.film_id ORDER BY count(*) DESC LIMIT 1
âœ… SQL execution matched.
Sample 2/960
ğŸ”¸ Question: [Question] Ø£Ø¹Ø· Ø§Ù„Ù…Ø¯ÙŠÙ†Ø© Ø§Ù„ØªÙŠ ÙŠØ¹ÙŠØ´ ÙÙŠÙ‡Ø§ Ø§Ù„Ø·Ø§Ù„Ø¨ Ø§Ù„Ø°ÙŠ ÙŠØ­Ù…Ù„ Ø§Ø³Ù… Ø§Ù„Ø¹Ø§Ø¦Ù„Ø© Kim.
ğŸ“ DB: allergy_1.sqlite
âœ… Ground Truth SQL: SELECT city_code FROM Student WHERE LName  =  "Kim"
âœ¨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
âœ… SQL execution matched.
Sample 3/960
ğŸ”¸ Question: ÙØ±Ø² Ù‚Ø§Ø¦Ù…Ø© Ø¬Ù…ÙŠØ¹ Ø§Ù„Ø£Ø³Ù…Ø§Ø¡ Ø§Ù„Ø£ÙˆÙ„Ù‰ ÙˆØ§Ù„Ø£Ù„Ù‚Ø§Ø¨ Ù„Ù„ÙƒØªÙ‘Ø§Ø¨ ØªØ±ØªÙŠØ¨Ø§Ù‹ Ø£Ø¨Ø¬Ø¯ÙŠØ§Ù‹ Ø­Ø³Ø¨ Ø§Ù„Ø£Ù„Ù‚Ø§Ø¨.
ğŸ“ DB: icfp_1.sqlite
âœ… Ground Truth SQL: SELECT fname ,  lname FROM authors ORDER BY lname
âœ¨ Predicted SQL: SELECT count(*) FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
âœ… SQL execution matched.
Sample 4/960
ğŸ”¸ Question: Ù…Ø§ Ù‡ÙŠ Ø£Ø³Ù…Ø§Ø¡ Ø¬Ù…ÙŠØ¹ Ø§Ù„Ø£ØºØ§Ù†ÙŠ Ø§Ù„ØªÙŠ ÙŠÙƒÙˆÙ† Ø£Ù„Ø¨ÙˆÙ…Ù‡Ø§ ØªØ­Øª Ø¹Ù„Ø§Ù…Ø© "Universal Music Group"ØŸ
ğŸ“ DB: music_2.sqlite
âœ… Ground Truth SQL: SELECT T3.title FROM albums AS T1 JOIN tracklists AS T2 ON T1.aid  =  T2.albumid JOIN songs AS T3 ON T2.songid  =  T3.songid WHERE t1.label  =  "Universal Music Group"
âœ¨ Predicted SQL: SELECT T1.name FROM film AS T1 JOIN film AS T2 ON T1.film_id = T2.film_id WHERE T1.film_id = T2.film_id GROUP BY T1.film_id ORDER BY count(*) DESC LIMIT 1
âœ… SQL execution matched.
Sample 5/960
ğŸ”¸ Question: Ù…Ø§ Ù‡Ùˆ ØªØ§Ø±ÙŠØ® Ø§Ù„Ø·Ù„Ø¨ Ù„ÙƒÙ„ Ø­Ø¬Ø²ØŸ
ğŸ“ DB: cre_Drama_Workshop_Groups.sqlite
âœ… Ground Truth SQL: SELECT Order_Date FROM BOOKINGS
âœ¨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name FROM
âœ… SQL execution matched.
Sample 6/960
ğŸ”¸ Question: "Ø£ÙŠ Ù…Ù†ØªØ¬ ØªÙ… Ø·Ù„Ø¨Ù‡ Ø§Ù„Ø£ÙƒØ«Ø± Ø¹Ø¯Ø¯Ù‹Ø§ Ù…Ù† Ø§Ù„Ù…Ø±Ø§ØªØŸ"
ğŸ“ DB: customers_and_addresses.sqlite
âœ… Ground Truth SQL: SELECT sum(t2.order_quantity) FROM customer_orders AS t1 JOIN order_items AS t2 ON t1.order_id  =  t2.order_id WHERE t1.order_date  <  "2018-03-17 07:13:53"
âœ¨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
âœ… SQL execution matched.
Sample 7/960
ğŸ”¸ Question: ÙƒÙ… Ø¹Ø¯Ø¯ Ø§Ù„Ù…Ø¯Ø±Ø³ÙŠÙ† Ø§Ù„Ù…Ø®ØªÙ„ÙÙŠÙ† Ø§Ù„Ø°ÙŠÙ† Ù‚Ø§Ù…ÙˆØ§ Ø¨ØªØ¯Ø±ÙŠØ³ Ø¨Ø¹Ø¶ Ø§Ù„Ø¯ÙˆØ±Ø§ØªØŸ
ğŸ“ DB: college_2.sqlite
âœ… Ground Truth SQL: SELECT COUNT (DISTINCT id) FROM teaches
âœ¨ Predicted SQL: SELECT count(*) FROM employees
âœ… SQL execution matched.
Sample 8/960
ğŸ”¸ Question: Ù…Ø§ Ù‡Ùˆ Ù…ØªÙˆØ³Ø· Ù†Ù‚Ø§Ø· Ø§Ù„Ø³Ù†Ø§ØªØ´ Ù„Ø¨Ù†Ø§Ø© Ø§Ù„Ø£Ø¬Ø³Ø§Ù…ØŸ
ğŸ“ DB: body_builder.sqlite
âœ… Ground Truth SQL: SELECT avg(Snatch) FROM body_builder
âœ¨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name ,
âœ… SQL execution matched.
Sample 9/960
ğŸ”¸ Question: Ù…Ø§ Ù‡ÙŠ Ø£Ø³Ù…Ø§Ø¡ Ø§Ù„Ù†ÙˆØ§Ø¨ Ø¨ØªØ±ØªÙŠØ¨ ØªÙ†Ø§Ø²Ù„ÙŠ Ø­Ø³Ø¨ Ø§Ù„Ø£ØµÙˆØ§ØªØŸ
ğŸ“ DB: election_representative.sqlite
âœ… Ground Truth SQL: SELECT T2.Name FROM election AS T1 JOIN representative AS T2 ON T1.Representative_ID  =  T2.Representative_ID ORDER BY votes DESC
âœ¨ Predicted SQL: SELECT count(*) FROM player
âœ… SQL execution matched.
Sample 10/960
ğŸ”¸ Question: Ø£Ø¹Ø· Ù…Ø¹Ø±Ù Ø§Ù„Ù…Ù†ØªØ¬ ÙˆÙ†ÙˆØ¹ Ø§Ù„Ù…Ù†ØªØ¬ Ù„Ù„Ù…Ù†ØªØ¬ Ø¨Ø£Ù‚Ù„ Ø³Ø¹Ø±.
ğŸ“ DB: department_store.sqlite
âœ… Ground Truth SQL: SELECT product_id ,  product_type_code FROM products ORDER BY product_price LIMIT 1
âœ¨ Predicted SQL: SELECT count(*) FROM customer WHERE customer_id = "customer_id GROUP BY customer_id ORDER BY customer_id
âœ… SQL execution matched.
Sample 11/960
ğŸ”¸ Question: [Question] Ø£Ø¸Ù‡Ø± Ø¬Ù…ÙŠØ¹ Ù…Ø¹Ø±Ù Ø§Ù„Ø·Ù„Ø§Ø¨ Ø§Ù„Ø°ÙŠÙ† ÙŠÙ…ØªÙ„ÙƒÙˆÙ† Ù…Ø§ Ù„Ø§ ÙŠÙ‚Ù„ Ø¹Ù† Ø­Ø³Ø§Ø³ÙŠØ©ÙŠÙ†.
ğŸ“ DB: allergy_1.sqlite
âœ… Ground Truth SQL: SELECT StuID FROM Has_allergy GROUP BY StuID HAVING count(*)  >=  2
âœ¨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN employees AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
âœ… SQL execution matched.
Sample 12/960
ğŸ”¸ Question: Ø§Ù„Ø¹Ø«ÙˆØ± Ø¹Ù„Ù‰ Ø§Ù„Ø±Ø§ØªØ¨ Ø§Ù„Ø£Ø¯Ù†Ù‰ Ù„Ù„Ø£Ù‚Ø³Ø§Ù… Ø§Ù„ØªÙŠ ÙŠÙƒÙˆÙ† Ù…ØªÙˆØ³Ø· Ø§Ù„Ø±Ø§ØªØ¨ ÙÙŠÙ‡Ø§ Ø£Ø¹Ù„Ù‰ Ù…Ù† Ø§Ù„Ù…ØªÙˆØ³Ø· Ø§Ù„Ø¹Ø§Ù… Ù„Ø¬Ù…ÙŠØ¹ Ø§Ù„Ù…Ø¯Ø±Ø³ÙŠÙ†.
ğŸ“ DB: college_2.sqlite
âœ… Ground Truth SQL: SELECT min(salary) ,  dept_name FROM instructor GROUP BY dept_name HAVING avg(salary)  >  (SELECT avg(salary) FROM instructor)
âœ¨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name FROM employees AS T1 JOIN employees AS T2 ON T1.employee_id = T2.employee_id WHERE T1.employee_id = T2.employee_id GROUP BY T1.employee_id ORDER BY T1.employee_id DESC LIMIT 1
âœ… SQL execution matched.
Sample 13/960
ğŸ”¸ Question: Ù…Ø§ Ù‡ÙŠ Ø§Ù„Ù…ØªÙˆØ³Ø· ÙˆØ§Ù„Ø­Ø¶ÙˆØ± Ø§Ù„Ø£Ù‚ØµÙ‰ Ù„Ø¬Ù…ÙŠØ¹ Ø§Ù„Ø£Ø­Ø¯Ø§Ø«ØŸ
ğŸ“ DB: news_report.sqlite
âœ… Ground Truth SQL: SELECT Name FROM journalist WHERE journalist_ID NOT IN (SELECT journalist_ID FROM news_report)
âœ¨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name FROM
âœ… SQL execution matched.
Sample 14/960
ğŸ”¸ Question: [Question] Ù…Ø§ Ù‡Ùˆ Ø§Ù„Ø±Ø§ØªØ¨ ÙˆØ§Ø³Ù… Ø§Ù„Ù…ÙˆØ¸Ù Ø§Ù„Ø°ÙŠ ÙŠØ­Ù…Ù„ Ø£ÙƒØ¨Ø± Ø¹Ø¯Ø¯ Ù…Ù† Ø§Ù„Ø´Ù‡Ø§Ø¯Ø§Øª Ø¹Ù„Ù‰ Ø§Ù„Ø·Ø§Ø¦Ø±Ø§Øª Ø§Ù„ØªÙŠ ØªØªØ¬Ø§ÙˆØ² Ù…Ø³Ø§ÙØªÙ‡Ø§ 5000ØŸ
ğŸ“ DB: flight_1.sqlite
âœ… Ground Truth SQL: SELECT T1.name FROM Employee AS T1 JOIN Certificate AS T2 ON T1.eid  =  T2.eid JOIN Aircraft AS T3 ON T3.aid  =  T2.aid WHERE T3.distance  >  5000 GROUP BY T1.eid ORDER BY count(*) DESC LIMIT 1
âœ¨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id HAVING count(*) > 5000
âœ… SQL execution matched.
Sample 15/960
ğŸ”¸ Question: Ù…Ø§ Ù‡Ùˆ Ù…ØªÙˆØ³Ø· Ù†Ù‚Ø§Ø· Ø§Ù„Ø¯Ø±Ø¬Ø§Øª Ù„Ù„Ø·Ù„Ø§Ø¨ Ø§Ù„Ø°ÙŠÙ† ÙŠØ­Ù…Ù„ÙˆÙ† Ø§Ø³Ù… Ø§Ù„Ø¹Ø§Ø¦Ù„Ø© SmithØŸ
ğŸ“ DB: college_3.sqlite
âœ… Ground Truth SQL: SELECT avg(T2.gradepoint) FROM ENROLLED_IN AS T1 JOIN GRADECONVERSION AS T2 JOIN STUDENT AS T3 ON T1.Grade  =  T2.lettergrade AND T1.StuID  =  T3.StuID WHERE T3.LName  =  "Smith"
âœ¨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
âœ… SQL execution matched.
Sample 16/960
ğŸ”¸ Question: Ù…Ø§ Ù‡Ùˆ Ù…Ø¹Ø±Ù‘ÙÙ Ø§Ù„Ù…Ø±ÙŠØ¶ Ø§Ù„Ø°ÙŠ Ù‚Ø§Ù… Ø¨Ø§Ù„Ø¥Ù‚Ø§Ù…Ø© ÙÙŠ Ø§Ù„ØºØ±ÙØ© 111 Ø¨Ø´ÙƒÙ„ Ø£Ø­Ø¯Ø«ØŸ
ğŸ“ DB: hospital_1.sqlite
âœ… Ground Truth SQL: SELECT patient FROM stay WHERE room  =  111 ORDER BY staystart DESC LIMIT 1
âœ¨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
âœ… SQL execution matched.
Sample 17/960
ğŸ”¸ Question: Ù…Ø§ Ù‡Ùˆ Ù…ØªÙˆØ³Ø· ÙˆØ£Ø¯Ù†Ù‰ Ø³Ø¹Ø± Ù„Ù„ØºØ±Ù ÙÙŠ Ø£Ù†ÙˆØ§Ø¹ Ù…Ø®ØªÙ„ÙØ© Ù…Ù† Ø§Ù„Ø¯ÙŠÙƒÙˆØ±ØŸ
ğŸ“ DB: inn_1.sqlite
âœ… Ground Truth SQL: SELECT decor ,  count(*) FROM Rooms WHERE bedType = "King" GROUP BY decor;
âœ¨ Predicted SQL: SELECT T1.product_name FROM products AS T1 JOIN products AS T2 ON T1.product_id = T2.product_id WHERE T1.product_id = T2.product_id GROUP BY T1.product_id ORDER BY count(*) DESC LIMIT 1
âœ… SQL execution matched.
Sample 18/960
ğŸ”¸ Question: ÙƒÙ… Ø¹Ø¯Ø¯ Ø§Ù„Ø£Ù†Ø¯ÙŠØ©ØŸ
ğŸ“ DB: college_1.sqlite
âœ… Ground Truth SQL: SELECT T1.stu_fname FROM student AS T1 JOIN enroll AS T2 ON T1.stu_num  =  T2.stu_num JOIN CLASS AS T3 ON T2.class_code  =  T3.class_code WHERE T3.crs_code  =  'ACCT-211' AND T1.stu_lname LIKE 'S%'
âœ¨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name FROM authors AS T1 JOIN authors AS T2 ON T1.name = T2.name GROUP BY T1.name
âœ… SQL execution matched.
Sample 19/960
ğŸ”¸ Question: Ø£Ø¹Ø·Ù Ø§Ù„Ù…Ø¯Ù† Ø§Ù„Ø£ØµÙ„ÙŠØ© Ø§Ù„ØªÙŠ ÙŠØ£ØªÙŠ Ù…Ù†Ù‡Ø§ Ø¬Ù…Ø¨Ø§Ø²Ø§Ù† Ø¹Ù„Ù‰ Ø§Ù„Ø£Ù‚Ù„.
ğŸ“ DB: gymnast.sqlite
âœ… Ground Truth SQL: SELECT T2.Hometown FROM gymnast AS T1 JOIN people AS T2 ON T1.Gymnast_ID  =  T2.People_ID GROUP BY T2.Hometown HAVING COUNT(*)  >=  2
âœ¨ Predicted SQL: SELECT T1.name FROM Employees AS T1 JOIN Customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
âœ… SQL execution matched.
Sample 20/960
ğŸ”¸ Question: Ù‚Ø§Ø¦Ù…Ø© Ø¨Ø§Ø³Ù… ÙˆØ¹Ø¯Ø¯ Ø§Ù„Ù…ØªØ§Ø¨Ø¹ÙŠÙ† Ù„ÙƒÙ„ Ù…Ø³ØªØ®Ø¯Ù…ØŒ ÙˆÙ‚Ù… Ø¨ÙØ±Ø² Ø§Ù„Ù†ØªØ§Ø¦Ø¬ Ø­Ø³Ø¨ Ø¹Ø¯Ø¯ Ø§Ù„Ù…ØªØ§Ø¨Ø¹ÙŠÙ† Ø¨ØªØ±ØªÙŠØ¨ ØªÙ†Ø§Ø²Ù„ÙŠ.
ğŸ“ DB: twitter_1.sqlite
âœ… Ground Truth SQL: SELECT name ,  followers FROM user_profiles ORDER BY followers DESC
âœ¨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name ,
âœ… SQL execution matched.
Sample 21/960
ğŸ”¸ Question: Ù„ÙƒÙ„ Ù…ÙˆÙ‚Ø¹ØŒ ÙƒÙ… Ø¹Ø¯Ø¯ Ù…Ø­Ø·Ø§Øª Ø§Ù„ÙˆÙ‚ÙˆØ¯ Ø§Ù„Ù…ÙˆØ¬ÙˆØ¯Ø© Ø¨ØªØ±ØªÙŠØ¨ØŸ
ğŸ“ DB: gas_company.sqlite
âœ… Ground Truth SQL: SELECT LOCATION ,  count(*) FROM gas_station GROUP BY LOCATION ORDER BY count(*)
âœ¨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name ,
âœ… SQL execution matched.
Sample 22/960
ğŸ”¸ Question: ÙƒÙ… Ù„Ø§Ø¹Ø¨ Ù…Ø®ØªÙ„Ù ØªØ¯Ø±Ø¨ Ù„Ø£ÙƒØ«Ø± Ù…Ù† 1000 Ø³Ø§Ø¹Ø©ØŸ
ğŸ“ DB: soccer_2.sqlite
âœ… Ground Truth SQL: SELECT count(*) FROM Player WHERE HS  >  1000
âœ¨ Predicted SQL: SELECT count(*) FROM player WHERE age > 1000
âœ… SQL execution matched.
Sample 23/960
ğŸ”¸ Question: Ù…Ø§ Ù‡Ùˆ Ø¹Ø¯Ø¯ Ø§Ù„Ø¹Ù†Ø§ØµØ± Ø§Ù„ØªÙŠ Ù„Ù… ØªØªÙ„Ù‚Ù‰ Ø£ÙŠ Ù…Ø±Ø§Ø¬Ø¹Ø©ØŸ
ğŸ“ DB: epinions_1.sqlite
âœ… Ground Truth SQL: SELECT count(*) FROM item WHERE i_id NOT IN (SELECT i_id FROM review)
âœ¨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN employees AS T2 ON T1.staff_id = T2.staff_id WHERE T1.staff_id = T2.staff_id GROUP BY T1.staff_id ORDER BY count(*) DESC LIMIT 1
âœ… SQL execution matched.
Sample 24/960
ğŸ”¸ Question: Ø£Ø¹Ø· ÙˆØµÙ Ø§Ù„Ù„ÙˆÙ† Ø§Ù„Ø£Ù‚Ù„ Ø´ÙŠÙˆØ¹Ù‹Ø§ Ø¹Ø¨Ø± Ø§Ù„Ù…Ù†ØªØ¬Ø§Øª.
ğŸ“ DB: products_gen_characteristics.sqlite
âœ… Ground Truth SQL: SELECT t2.color_description FROM products AS t1 JOIN ref_colors AS t2 ON t1.color_code  =  t2.color_code GROUP BY t2.color_description ORDER BY count(*) ASC LIMIT 1
âœ¨ Predicted SQL: SELECT count(*) FROM products
âœ… SQL execution matched.
Sample 25/960
ğŸ”¸ Question: Ù…Ø§ Ù‡Ùˆ Ø§Ø³Ù… Ø§Ù„Ù‚Ø³Ù… Ø§Ù„Ø°ÙŠ ÙŠÙ†ØªÙ…ÙŠ Ø¥Ù„ÙŠÙ‡ Ø§Ù„Ø·Ø§Ù„Ø¨ Ø§Ù„Ø°ÙŠ ÙŠÙ…ØªÙ„Ùƒ Ø£Ù‚Ù„ Ù…Ø¹Ø¯Ù„ Ù†Ù‚Ø§Ø· ØªØ±Ø§ÙƒÙ…ÙŠØŸ
ğŸ“ DB: college_1.sqlite
âœ… Ground Truth SQL: SELECT T2.dept_name FROM student AS T1 JOIN department AS T2 ON T1.dept_code  =  T2.dept_code ORDER BY stu_gpa LIMIT 1
âœ¨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN employees AS T2 ON T1.staff_id = T2.staff_id WHERE T1.staff_id = T2.staff_id WHERE T1.staff_id = T2.staff_id = T2.staff_id GROUP BY T1.staff_id ORDER BY count(*) DESC LIMIT 1
âœ… SQL execution matched.
Sample 26/960
ğŸ”¸ Question: Ø¹Ø¯Ø¯ ÙØ±ÙˆØ¹ Ø§Ù„Ø¨Ù†ÙƒØŸ
ğŸ“ DB: loan_1.sqlite
âœ… Ground Truth SQL: SELECT count(*) FROM bank
âœ¨ Predicted SQL: SELECT count(*) FROM products
âœ… SQL execution matched.
Sample 27/960
ğŸ”¸ Question: [Translation] Ù…Ø§ Ù‡ÙŠ Ø£Ø±Ù‚Ø§Ù… ØªØ¹Ø±ÙŠÙÙŠØ© Ø§Ù„Ø·Ù„Ø§Ø¨ Ø§Ù„Ø°ÙŠÙ† Ø³Ø¬Ù„ÙˆØ§ ÙÙŠ Ø§Ù„Ø¯ÙˆØ±Ø© 301 Ù…Ø¤Ø®Ø±Ù‹Ø§ØŸ
ğŸ“ DB: student_assessment.sqlite
âœ… Ground Truth SQL: SELECT student_id FROM student_course_attendance WHERE course_id = 301 ORDER BY date_of_attendance DESC LIMIT 1
âœ¨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
âœ… SQL execution matched.
Sample 28/960
ğŸ”¸ Question: ÙƒÙ… Ø¹Ø¯Ø¯ Ø§Ù„Ù…Ø¯Ù† Ø§Ù„Ù…Ø®ØªÙ„ÙØ© Ø§Ù„ØªÙŠ ÙŠÙˆØ¬Ø¯ ÙÙŠÙ‡Ø§ Ø§Ù„Ø¨Ù†ÙˆÙƒØŸ
ğŸ“ DB: loan_1.sqlite
âœ… Ground Truth SQL: SELECT state ,  acc_type ,  credit_score FROM customer WHERE no_of_loans  =  0
âœ¨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name FROM employees AS T1 JOIN employees AS T2 ON T1.employeeid = T2.employeeid WHERE T1.employeeid = T2.employeeid WHERE T1.employeeid = T2.employeeid WHERE T1.employeeid = T2.employeeid
âœ… SQL execution matched.
Sample 29/960
ğŸ”¸ Question: [Question] Ù…Ø§ Ù‡ÙŠ Ø£Ø³Ù…Ø§Ø¡ Ø§Ù„Ø¥Ù†Ø²ÙŠÙ…Ø§Øª ÙÙŠ Ø§Ù„Ø¯ÙˆØ§Ø¡ Ø§Ù„Ù…Ø³Ù…Ù‰ 'Amisulpride' Ø§Ù„ØªÙŠ ÙŠÙ…ÙƒÙ† Ø£Ù† ØªØ¹Ù…Ù„ ÙƒÙ€ 'Ù…Ø«Ø¨Ø·'ØŸ
ğŸ“ DB: medicine_enzyme_interaction.sqlite
âœ… Ground Truth SQL: SELECT T1.name FROM enzyme AS T1 JOIN medicine_enzyme_interaction AS T2 ON T1.id  =  T2.enzyme_id JOIN medicine AS T3 ON T2.medicine_id  =  T3.id WHERE T3.name  =  'Amisulpride' AND T2.interaction_type  =  'inhibitor'
âœ¨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN employees AS T2 ON T1.id = T2.id WHERE T1.id = T2.id GROUP BY T1.id ORDER BY count(*) DESC LIMIT 1
âœ… SQL execution matched.
Sample 30/960
ğŸ”¸ Question: ÙƒÙ… Ø¹Ø¯Ø¯ Ø§Ù„Ù…ØªØ§Ø¬Ø± Ø§Ù„ØªÙŠ ÙŠÙ‚Ø¹ Ù…Ù‚Ø±Ù‡Ø§ ÙÙŠ ÙƒÙ„ Ù…Ø¯ÙŠÙ†Ø©ØŸ
ğŸ“ DB: store_product.sqlite
âœ… Ground Truth SQL: SELECT t3.headquartered_city ,  count(*) FROM store AS t1 JOIN store_district AS t2 ON t1.store_id  =  t2.store_id JOIN district AS t3 ON t2.district_id  =  t3.district_id GROUP BY t3.headquartered_city
âœ¨ Predicted SQL: SELECT count(*) FROM customer WHERE customer_id = "SELECT customer_id GROUP BY customer_id ORDER BY customer_id DESC LIMIT 1
âœ… SQL execution matched.
Sample 31/960
ğŸ”¸ Question: Ø§Ø¨Ø­Ø« Ø¹Ù† Ø§Ù„Ø§Ø³Ù…ØŒ Ø§Ù„ØªØ³Ø¬ÙŠÙ„ ÙÙŠ Ø§Ù„ÙƒÙ„ÙŠØ§Øª Ø§Ù„ØªÙŠ ÙŠÙƒÙˆÙ† Ø­Ø¬Ù…Ù‡Ø§ Ø£ÙƒØ¨Ø± Ù…Ù† 10000 ÙˆØ§Ù„Ù…ÙˆÙ‚Ø¹ ÙÙŠ ÙˆÙ„Ø§ÙŠØ© Ù„ÙˆÙŠØ²ÙŠØ§Ù†Ø§.
ğŸ“ DB: soccer_2.sqlite
âœ… Ground Truth SQL: SELECT DISTINCT pName FROM Player WHERE pName LIKE '%a%'
âœ¨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name ,
âœ… SQL execution matched.
Sample 32/960
ğŸ”¸ Question: Ù…Ø§ Ù‡ÙŠ Ù…ÙˆØ§Ù‚Ø¹ Ø¬Ù…ÙŠØ¹ Ù…Ø­Ø·Ø§Øª Ø§Ù„ÙˆÙ‚ÙˆØ¯ Ù…Ø±ØªØ¨Ø© Ø­Ø³Ø¨ Ø³Ù†Ø© Ø§Ù„Ø§ÙØªØªØ§Ø­ØŸ
ğŸ“ DB: gas_company.sqlite
âœ… Ground Truth SQL: SELECT LOCATION FROM gas_station ORDER BY open_year
âœ¨ Predicted SQL: SELECT count(*) FROM products WHERE product_type_code = "F"
âœ… SQL execution matched.
Sample 33/960
ğŸ”¸ Question: Ø£ÙŠ Ø¹Ù…ÙŠÙ„ Ù‚Ø§Ù… Ø¨Ø¹Ù…Ù„ÙŠØ© Ø¯ÙØ¹ ÙˆØ§Ø­Ø¯Ø© Ø¹Ù„Ù‰ Ø§Ù„Ø£Ù‚Ù„ Ù‚Ø¯ Ø£Ù†ÙÙ‚ Ø£Ù‚Ù„ Ù…Ø¨Ù„ØºØŸ Ù‚Ù… Ø¨ØªÙ‚Ø¯ÙŠÙ… Ø§Ù„Ø§Ø³Ù… Ø§Ù„Ø£ÙˆÙ„ ÙˆØ§Ù„Ø§Ø³Ù… Ø§Ù„Ø£Ø®ÙŠØ±ØŒ ÙˆØ§Ù„Ù…Ø¹Ø±Ù.
ğŸ“ DB: sakila_1.sqlite
âœ… Ground Truth SQL: SELECT sum(amount) FROM payment
âœ¨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
âœ… SQL execution matched.
Sample 34/960
ğŸ”¸ Question: [Question] Ù‚Ø§Ø¦Ù…Ø© Ø§Ø³Ù… Ù†Ù…ÙˆØ°Ø¬ Ø§Ù„Ø£Ø¬Ù‡Ø²Ø© ÙˆØ§Ø³Ù… Ø§Ù„Ø´Ø±ÙƒØ© Ù„Ù„Ù‡Ø§ØªÙ Ø§Ù„Ø°ÙŠ ÙŠÙƒÙˆÙ† Ù†ÙˆØ¹ ÙˆØ¶Ø¹ Ø§Ù„Ø´Ø§Ø´Ø© Ø§Ù„Ø®Ø§Øµ Ø¨Ù‡ "Ø§Ù„Ø±Ø³ÙˆÙ…Ø§Øª".
ğŸ“ DB: phone_1.sqlite
âœ… Ground Truth SQL: SELECT T2.Hardware_Model_name ,  T2.Company_name FROM screen_mode AS T1 JOIN phone AS T2 ON T1.Graphics_mode = T2.screen_mode WHERE T1.Type  =  "Graphics";
âœ¨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
âœ… SQL execution matched.
Sample 35/960
ğŸ”¸ Question: Ø£Ø¸Ù‡Ø± Ù‡ÙˆÙŠØ§Øª Ø¬Ù…ÙŠØ¹ Ø§Ù„Ø·Ù„Ø§Ø¨ Ø§Ù„Ø°ÙƒÙˆØ± Ø§Ù„Ø°ÙŠÙ† Ù„Ø§ ÙŠÙ„Ø¹Ø¨ÙˆÙ† ÙƒØ±Ø© Ø§Ù„Ù‚Ø¯Ù….
ğŸ“ DB: game_1.sqlite
âœ… Ground Truth SQL: SELECT StuID FROM Student WHERE sex  =  'F' INTERSECT SELECT StuID FROM Sportsinfo WHERE sportname  =  "Football"
âœ¨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN employees AS T2 ON T1.staff_id = T2.staff_id WHERE T1.staff_id = T2.staff_id = T2.staff_id GROUP BY T1.staff_id ORDER BY count(*) DESC LIMIT 1
âœ… SQL execution matched.
Sample 36/960
ğŸ”¸ Question: ÙƒÙ… Ø¹Ø¯Ø¯ Ø£Ù„Ø¹Ø§Ø¨ Ø§Ù„ÙÙŠØ¯ÙŠÙˆ Ø§Ù„ØªÙŠ Ù„Ø¯ÙŠÙƒØŸ
ğŸ“ DB: game_1.sqlite
âœ… Ground Truth SQL: SELECT count(*) FROM Video_games
âœ¨ Predicted SQL: SELECT T1.name FROM film AS T1 JOIN film AS T2 ON T1.film_id = T2.film_id WHERE T1.film_id = T2.film_id
âœ… SQL execution matched.
Sample 37/960
ğŸ”¸ Question: "Ø§Ø¨Ø­Ø« Ø¹Ù† Ø±Ù…Ø² Ù‚Ù†Ø§Ø© Ø§Ù„Ø§ØªØµØ§Ù„ Ø§Ù„Ø°ÙŠ ØªÙ… Ø§Ø³ØªØ®Ø¯Ø§Ù…Ù‡ Ù…Ù† Ù‚Ø¨Ù„ Ø§Ù„Ø¹Ù…ÙŠÙ„ Ø¨Ø§Ù„Ø§Ø³Ù… 'Tillman Ernser'."
ğŸ“ DB: customers_and_addresses.sqlite
âœ… Ground Truth SQL: SELECT channel_code FROM customer_contact_channels GROUP BY channel_code HAVING count(customer_id)  <  5
âœ¨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name FROM
âœ… SQL execution matched.
Sample 38/960
ğŸ”¸ Question: Ø¹Ø±Ø¶ Ø¬Ù…ÙŠØ¹ Ø£Ø³Ù…Ø§Ø¡ Ø§Ù„Ù…ØªØ§Ø¬Ø± Ù„Ù…Ø¬Ù…ÙˆØ¹Ø§Øª ÙˆØ±Ø´ Ø§Ù„Ø¹Ù…Ù„ Ø§Ù„Ù…Ø³Ø±Ø­ÙŠØ©.
ğŸ“ DB: cre_Drama_Workshop_Groups.sqlite
âœ… Ground Truth SQL: SELECT Customer_Phone ,  Customer_Email_Address FROM CUSTOMERS WHERE Customer_Name  =  "Harold"
âœ¨ Predicted SQL: SELECT T1.name FROM manufacturers AS T1 JOIN manufacturers AS T2 ON T1.product_id = T2.product_id WHERE T1.product_id = T2.product_id GROUP BY T1.product_id ORDER BY T1.product_id DESC LIMIT 1
âœ… SQL execution matched.
Sample 39/960
ğŸ”¸ Question: ÙƒÙ… Ø¹Ø¯Ø¯ Ø§Ù„Ø£Ø¹Ø¶Ø§Ø¡ØŸ
ğŸ“ DB: network_2.sqlite
âœ… Ground Truth SQL: SELECT DISTINCT T4.name FROM PersonFriend AS T1 JOIN Person AS T2 ON T1.name  =  T2.name JOIN PersonFriend AS T3 ON T1.friend  =  T3.name JOIN PersonFriend AS T4 ON T3.friend  =  T4.name WHERE T2.name  =  'Alice' AND T4.name != 'Alice'
âœ¨ Predicted SQL: SELECT count(*) FROM player
âœ… SQL execution matched.
Sample 40/960
ğŸ”¸ Question: Ù…Ø§ Ù‡ÙŠ Ø¬Ù…ÙŠØ¹ Ø§Ù„Ù…Ø¹Ù„ÙˆÙ…Ø§Øª Ø­ÙˆÙ„ Ù…Ù„Ø§Ø­Ø¸Ø§Øª Ø§Ù„ØªÙ‚ÙŠÙŠÙ… Ù…Ø±ØªØ¨Ø© Ø­Ø³Ø¨ Ø§Ù„ØªØ§Ø±ÙŠØ® Ø¨ØªØ±ØªÙŠØ¨ ØªØµØ§Ø¹Ø¯ÙŠØŸ
ğŸ“ DB: behavior_monitoring.sqlite
âœ… Ground Truth SQL: SELECT first_name FROM Teachers WHERE email_address LIKE '%man%'
âœ¨ Predicted SQL: SELECT count(*) FROM exhibition WHERE exhibition_id = 'Spring'
âœ… SQL execution matched.
Sample 41/960
ğŸ”¸ Question: [Question] Ø£Ø¸Ù‡Ø± Ù…Ø¹Ø±Ù Ø§Ù„Ø·Ø§Ù„Ø¨ Ù„Ø¬Ù…ÙŠØ¹ Ø§Ù„Ø·Ù„Ø§Ø¨ Ø§Ù„Ø°ÙƒÙˆØ±.