In [1]:
# STEP 0: Install required libraries
!pip install transformers datasets stanza nltk --quiet

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 16.6 MB/s eta 0:00:00 0:00:01

In [2]:
# STEP 1: Import libraries
import os
import json
import pandas as pd
import numpy as np
import sqlite3
import nltk
import stanza
import torch
from sklearn.model_selection import train_test_split
from torch.utils.data import DataLoader, TensorDataset
from transformers import MT5Tokenizer, MT5ForConditionalGeneration, AdamW
from nltk.translate.bleu_score import sentence_bleu, SmoothingFunction
from tqdm import tqdm

nltk.download('punkt')
stanza.download('ar')

[nltk_data] Downloading package punkt to /usr/share/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

Downloading https://raw.githubusercontent.com/stanfordnlp/stanza-resources/main/resources_1.10.0.json:   0%|  …

Downloading https://huggingface.co/stanfordnlp/stanza-ar/resolve/v1.10.0/models/default.zip:   0%|          | …

In [3]:
import json

rows = []
with open("/kaggle/input/txttosql-nlp/AR_spider.jsonl", "r", encoding="utf-8") as f:
    for line in f:
        rows.append(json.loads(line.strip()))

import pandas as pd
df = pd.DataFrame(rows)

In [4]:
print(df.head())

                                            question  \
0  How many heads of the departments are older th...
1  List the name, born state and age of the heads...
2  List the creation year, name and budget of eac...
3  What are the maximum and minimum budget of the...
4  What is the average number of employees of the...

                                               query  \
0         SELECT count(*) FROM head WHERE age  >  56
1  SELECT name ,  born_state ,  age FROM head ORD...
2  SELECT creation ,  name ,  budget_in_billions ...
3  SELECT max(budget_in_billions) ,  min(budget_i...
4  SELECT avg(num_employees) FROM department WHER...

                                              arabic                  db_id
0  كم عدد رؤساء الأقسام الذين تزيد أعمارهم عن 56 ...  department_management
1  اعرض قائمة بأسماء رؤساء الأقسام، مكان ميلادهم،...  department_management
2  اعرض قائمة بسنوات الإنشاء، وأسماء وميزانيات كل...  department_management
3                  ما هي أقصى وأدنى ميزانية للأقسام؟  department_management
4  ما هو المتوسط ​​لعدد الموظفين في الأقسام الذين...  department_management

In [5]:
# STEP 3: Preprocess Arabic text
nlp = stanza.Pipeline('ar', processors='tokenize,lemma')
stopwords = {'في', 'من', 'على', 'و', 'عن', 'إلى', 'مع', 'التي', 'الذي', 'هذا', 'أن', 'ما', 'هو', 'هي'}

def preprocess_arabic(text):
    doc = nlp(text)
    return ' '.join([w.lemma for s in doc.sentences for w in s.words if w.lemma not in stopwords])

Downloading https://raw.githubusercontent.com/stanfordnlp/stanza-resources/main/resources_1.10.0.json:   0%|  …

In [6]:

# Apply preprocessing + task prefix
df['input_text'] = df['arabic'].apply(lambda x: "ترجم إلى SQL: " + preprocess_arabic(x))
df['target_text'] = df['query']

In [7]:
# STEP 4: Split data
X = df['input_text'].tolist()
y = df['target_text'].tolist()
db_ids = df['db_id'].tolist()

X_train, X_temp, y_train, y_temp, db_train, db_temp = train_test_split(X, y, db_ids, test_size=0.3, random_state=42)
X_val, X_test, y_val, y_test, db_val, db_test = train_test_split(X_temp, y_temp, db_temp, test_size=0.5, random_state=42)

In [8]:
# STEP 5: Load model and tokenizer
model_name = "google/mt5-small"
tokenizer = MT5Tokenizer.from_pretrained(model_name)
model = MT5ForConditionalGeneration.from_pretrained(model_name)

tokenizer_config.json:   0%|          | 0.00/82.0 [00:00<?, ?B/s]

spiece.model:   0%|          | 0.00/4.31M [00:00<?, ?B/s]

special_tokens_map.json:   0%|          | 0.00/99.0 [00:00<?, ?B/s]

config.json:   0%|          | 0.00/553 [00:00<?, ?B/s]

You are using the default legacy behaviour of the <class 'transformers.models.t5.tokenization_t5.T5Tokenizer'>. This is expected, and simply means that the `legacy` (previous) behavior will be used so nothing changes for you. If you want to use the new behaviour, set `legacy=False`. This should only be set if you understand what it means, and thoroughly read the reason why this was added as explained in https://github.com/huggingface/transformers/pull/24565

pytorch_model.bin:   0%|          | 0.00/1.20G [00:00<?, ?B/s]

generation_config.json:   0%|          | 0.00/147 [00:00<?, ?B/s]

In [9]:
# STEP 6: Tokenize
max_len = 128

def tokenize_data(X, y):
    encodings = tokenizer(X, padding=True, truncation=True, max_length=max_len, return_tensors="pt")
    targets = tokenizer(y, padding=True, truncation=True, max_length=max_len, return_tensors="pt")
    return encodings, targets

train_enc, train_tar = tokenize_data(X_train, y_train)
val_enc, val_tar = tokenize_data(X_val, y_val)

In [10]:
# STEP 7: Create DataLoaders
dev = torch.device("cuda" if torch.cuda.is_available() else "cpu")

train_dataset = TensorDataset(train_enc['input_ids'], train_enc['attention_mask'], train_tar['input_ids'])
val_dataset = TensorDataset(val_enc['input_ids'], val_enc['attention_mask'], val_tar['input_ids'])

train_loader = DataLoader(train_dataset, batch_size=4, shuffle=True)
val_loader = DataLoader(val_dataset, batch_size=4)

In [11]:
# STEP 8: Training
model.to(dev)
optimizer = AdamW(model.parameters(), lr=5e-5)
num_epochs = 8

for epoch in range(num_epochs):
    model.train()
    total_loss = 0
    loop = tqdm(train_loader, desc=f"Epoch {epoch+1}/{num_epochs}")

    for batch in loop:
        input_ids, attention_mask, labels = [b.to(dev) for b in batch]
        labels[labels == tokenizer.pad_token_id] = -100

        outputs = model(input_ids=input_ids, attention_mask=attention_mask, labels=labels)
        loss = outputs.loss
        loss.backward()

        optimizer.step()
        optimizer.zero_grad()

        total_loss += loss.item()
        loop.set_postfix(loss=loss.item())

/usr/local/lib/python3.10/dist-packages/transformers/optimization.py:591: FutureWarning: This implementation of AdamW is deprecated and will be removed in a future version. Use the PyTorch implementation torch.optim.AdamW instead, or set `no_deprecation_warning=True` to disable this warning
  warnings.warn(
Epoch 1/8:   0%|          | 0/1120 [00:00<?, ?it/s]Passing a tuple of `past_key_values` is deprecated and will be removed in Transformers v4.48.0. You should pass an instance of `EncoderDecoderCache` instead, e.g. `past_key_values=EncoderDecoderCache.from_legacy_cache(past_key_values)`.
Epoch 1/8: 100%|██████████| 1120/1120 [05:39<00:00,  3.29it/s, loss=4.32]
Epoch 2/8: 100%|██████████| 1120/1120 [05:40<00:00,  3.29it/s, loss=3.51]
Epoch 3/8: 100%|██████████| 1120/1120 [05:40<00:00,  3.28it/s, loss=3.34]
Epoch 4/8: 100%|██████████| 1120/1120 [05:40<00:00,  3.29it/s, loss=2.9]
Epoch 5/8: 100%|██████████| 1120/1120 [05:40<00:00,  3.29it/s, loss=1.27]
Epoch 6/8: 100%|██████████| 1120/1120 [05:40<00:00,  3.29it/s, loss=2.09]
Epoch 7/8: 100%|██████████| 1120/1120 [05:40<00:00,  3.29it/s, loss=2.63]
Epoch 8/8: 100%|██████████| 1120/1120 [05:40<00:00,  3.28it/s, loss=2.27]

In [19]:
# STEP 9: Inference function
def generate_sql(question, table_names=None):
    model.eval()
    schema_part = f" ### الجداول: {', '.join(table_names)}" if table_names else ""
    prompt = "ترجم إلى SQL: " + preprocess_arabic(question) + schema_part
    inputs = tokenizer(prompt, return_tensors="pt", truncation=True, padding=True, max_length=max_len).to(dev)
    outputs = model.generate(**inputs, max_length=max_len, num_beams=4, early_stopping=True)
    return tokenizer.decode(outputs[0], skip_special_tokens=True)

In [23]:
# STEP 10: Build test_data list from X_test, y_test, db_test
test_data = []
for i in range(len(X_test)):
    row = df[df['input_text'] == X_test[i]].iloc[0]
    test_data.append({
        "question": row['arabic'],
        "query": y_test[i],
        "db_id": db_test[i],
        "table_names": row.get('table_names', [])
    })

In [29]:
# STEP 11: Evaluation using test_data format
smoothie = SmoothingFunction().method4
def execute_sql(db_id, sql_query):
    db_path = f"/kaggle/input/txttosql-nlp/database/{db_id}.sqlite"
    try:
        conn = sqlite3.connect(db_path)
        cursor = conn.cursor()
        cursor.execute(sql_query)
        result = cursor.fetchall()
        conn.close()
        return result
    except Exception as e:
        return f"Error: {str(e)}"

# Metrics tracking
exact_match_count = 0
execution_match_count = 0
bleu_scores = []
total_samples = len(test_data)

for idx, entry in enumerate(test_data[:50]):
    print(f"Sample {idx + 1}/{min(50, len(test_data))}")

    print(f"🔸 Question: {entry['question']}")
    print(f"📁 DB: {entry['db_id']}.sqlite")
    print(f"✅ Ground Truth SQL: {entry['query']}")
    arabic_question = entry["question"]
    correct_sql = sqlparse.format(entry["query"], reindent=True, keyword_case="upper")
    db_id = entry["db_id"]

    predicted_sql = generate_sql(arabic_question, entry.get("table_names", [])).strip()
    print(f"✨ Predicted SQL: {predicted_sql}")

    # Exact Match Accuracy
    if predicted_sql.strip() == correct_sql.strip():
        exact_match_count += 1

    # Execution Accuracy
    correct_result = execute_sql(db_id, correct_sql)
    predicted_result = execute_sql(db_id, predicted_sql)
    if correct_result == predicted_result:
        print("✅ SQL execution matched.")
        execution_match_count += 1
    else:
        print("❌ Execution mismatch or error occurred.")
        print("Correct Result:", correct_result)
        print("Predicted Result:", predicted_result)

    # BLEU Score (SQL as tokenized words)
    reference_tokens = correct_sql.split()
    predicted_tokens = predicted_sql.split()
    bleu_scores.append(sentence_bleu([reference_tokens], predicted_tokens, smoothing_function=smoothie))

# Final Metrics
exact_match_acc = exact_match_count / total_samples
execution_acc = execution_match_count / total_samples
average_bleu = sum(bleu_scores) / total_samples

# Display Results
print(f"✅ Exact Match Accuracy: {exact_match_acc:.4f}")
print(f"✅ Execution Accuracy: {execution_acc:.4f}")
print(f"✅ Average BLEU Score: {average_bleu:.4f}")

Sample 1/50
🔸 Question: ما هي أوضاع اللاعبين مع متوسط عدد النقاط المُسجَّلة من قبل اللاعبين في تلك الوضع أكبر من 20؟
📁 DB: sports_competition.sqlite
✅ Ground Truth SQL: SELECT POSITION ,  avg(Points) FROM player GROUP BY POSITION
✨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name FROM exhibition AS T1 JOIN film AS T2 ON T1.film_id = T2.film_id WHERE T1.film_id = T2.film_id GROUP BY T1.film_id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 2/50
🔸 Question: [Question] أعط المدينة التي يعيش فيها الطالب الذي يحمل اسم العائلة Kim.
📁 DB: allergy_1.sqlite
✅ Ground Truth SQL: SELECT city_code FROM Student WHERE LName  =  "Kim"
✨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 3/50
🔸 Question: فرز قائمة جميع الأسماء الأولى والألقاب للكتّاب ترتيباً أبجدياً حسب الألقاب.
📁 DB: icfp_1.sqlite
✅ Ground Truth SQL: SELECT fname ,  lname FROM authors ORDER BY lname
✨ Predicted SQL: SELECT count(*) FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 4/50
🔸 Question: ما هي أسماء جميع الأغاني التي يكون ألبومها تحت علامة "Universal Music Group"؟
📁 DB: music_2.sqlite
✅ Ground Truth SQL: SELECT T3.title FROM albums AS T1 JOIN tracklists AS T2 ON T1.aid  =  T2.albumid JOIN songs AS T3 ON T2.songid  =  T3.songid WHERE t1.label  =  "Universal Music Group"
✨ Predicted SQL: SELECT T1.name FROM film AS T1 JOIN film AS T2 ON T1.film_id = T2.film_id WHERE T1.film_id = T2.film_id GROUP BY T1.film_id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 5/50
🔸 Question: ما هو تاريخ الطلب لكل حجز؟
📁 DB: cre_Drama_Workshop_Groups.sqlite
✅ Ground Truth SQL: SELECT Order_Date FROM BOOKINGS
✨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name FROM
✅ SQL execution matched.
Sample 6/50
🔸 Question: "أي منتج تم طلبه الأكثر عددًا من المرات؟"
📁 DB: customers_and_addresses.sqlite
✅ Ground Truth SQL: SELECT sum(t2.order_quantity) FROM customer_orders AS t1 JOIN order_items AS t2 ON t1.order_id  =  t2.order_id WHERE t1.order_date  <  "2018-03-17 07:13:53"
✨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 7/50
🔸 Question: كم عدد المدرسين المختلفين الذين قاموا بتدريس بعض الدورات؟
📁 DB: college_2.sqlite
✅ Ground Truth SQL: SELECT COUNT (DISTINCT id) FROM teaches
✨ Predicted SQL: SELECT count(*) FROM employees
✅ SQL execution matched.
Sample 8/50
🔸 Question: ما هو متوسط نقاط السناتش لبناة الأجسام؟
📁 DB: body_builder.sqlite
✅ Ground Truth SQL: SELECT avg(Snatch) FROM body_builder
✨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name ,
✅ SQL execution matched.
Sample 9/50
🔸 Question: ما هي أسماء النواب بترتيب تنازلي حسب الأصوات؟
📁 DB: election_representative.sqlite
✅ Ground Truth SQL: SELECT T2.Name FROM election AS T1 JOIN representative AS T2 ON T1.Representative_ID  =  T2.Representative_ID ORDER BY votes DESC
✨ Predicted SQL: SELECT count(*) FROM player
✅ SQL execution matched.
Sample 10/50
🔸 Question: أعط معرف المنتج ونوع المنتج للمنتج بأقل سعر.
📁 DB: department_store.sqlite
✅ Ground Truth SQL: SELECT product_id ,  product_type_code FROM products ORDER BY product_price LIMIT 1
✨ Predicted SQL: SELECT count(*) FROM customer WHERE customer_id = "customer_id GROUP BY customer_id ORDER BY customer_id
✅ SQL execution matched.
Sample 11/50
🔸 Question: [Question] أظهر جميع معرف الطلاب الذين يمتلكون ما لا يقل عن حساسيةين.
📁 DB: allergy_1.sqlite
✅ Ground Truth SQL: SELECT StuID FROM Has_allergy GROUP BY StuID HAVING count(*)  >=  2
✨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN employees AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 12/50
🔸 Question: العثور على الراتب الأدنى للأقسام التي يكون متوسط الراتب فيها أعلى من المتوسط العام لجميع المدرسين.
📁 DB: college_2.sqlite
✅ Ground Truth SQL: SELECT min(salary) ,  dept_name FROM instructor GROUP BY dept_name HAVING avg(salary)  >  (SELECT avg(salary) FROM instructor)
✨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name FROM employees AS T1 JOIN employees AS T2 ON T1.employee_id = T2.employee_id WHERE T1.employee_id = T2.employee_id GROUP BY T1.employee_id ORDER BY T1.employee_id DESC LIMIT 1
✅ SQL execution matched.
Sample 13/50
🔸 Question: ما هي المتوسط والحضور الأقصى لجميع الأحداث؟
📁 DB: news_report.sqlite
✅ Ground Truth SQL: SELECT Name FROM journalist WHERE journalist_ID NOT IN (SELECT journalist_ID FROM news_report)
✨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name FROM
✅ SQL execution matched.
Sample 14/50
🔸 Question: [Question] ما هو الراتب واسم الموظف الذي يحمل أكبر عدد من الشهادات على الطائرات التي تتجاوز مسافتها 5000؟
📁 DB: flight_1.sqlite
✅ Ground Truth SQL: SELECT T1.name FROM Employee AS T1 JOIN Certificate AS T2 ON T1.eid  =  T2.eid JOIN Aircraft AS T3 ON T3.aid  =  T2.aid WHERE T3.distance  >  5000 GROUP BY T1.eid ORDER BY count(*) DESC LIMIT 1
✨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id HAVING count(*) > 5000
✅ SQL execution matched.
Sample 15/50
🔸 Question: ما هو متوسط نقاط الدرجات للطلاب الذين يحملون اسم العائلة Smith؟
📁 DB: college_3.sqlite
✅ Ground Truth SQL: SELECT avg(T2.gradepoint) FROM ENROLLED_IN AS T1 JOIN GRADECONVERSION AS T2 JOIN STUDENT AS T3 ON T1.Grade  =  T2.lettergrade AND T1.StuID  =  T3.StuID WHERE T3.LName  =  "Smith"
✨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 16/50
🔸 Question: ما هو معرِّف المريض الذي قام بالإقامة في الغرفة 111 بشكل أحدث؟
📁 DB: hospital_1.sqlite
✅ Ground Truth SQL: SELECT patient FROM stay WHERE room  =  111 ORDER BY staystart DESC LIMIT 1
✨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 17/50
🔸 Question: ما هو متوسط وأدنى سعر للغرف في أنواع مختلفة من الديكور؟
📁 DB: inn_1.sqlite
✅ Ground Truth SQL: SELECT decor ,  count(*) FROM Rooms WHERE bedType = "King" GROUP BY decor;
✨ Predicted SQL: SELECT T1.product_name FROM products AS T1 JOIN products AS T2 ON T1.product_id = T2.product_id WHERE T1.product_id = T2.product_id GROUP BY T1.product_id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 18/50
🔸 Question: كم عدد الأندية؟
📁 DB: college_1.sqlite
✅ Ground Truth SQL: SELECT T1.stu_fname FROM student AS T1 JOIN enroll AS T2 ON T1.stu_num  =  T2.stu_num JOIN CLASS AS T3 ON T2.class_code  =  T3.class_code WHERE T3.crs_code  =  'ACCT-211' AND T1.stu_lname LIKE 'S%'
✨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name FROM authors AS T1 JOIN authors AS T2 ON T1.name = T2.name GROUP BY T1.name
✅ SQL execution matched.
Sample 19/50
🔸 Question: أعطِ المدن الأصلية التي يأتي منها جمبازان على الأقل.
📁 DB: gymnast.sqlite
✅ Ground Truth SQL: SELECT T2.Hometown FROM gymnast AS T1 JOIN people AS T2 ON T1.Gymnast_ID  =  T2.People_ID GROUP BY T2.Hometown HAVING COUNT(*)  >=  2
✨ Predicted SQL: SELECT T1.name FROM Employees AS T1 JOIN Customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 20/50
🔸 Question: قائمة باسم وعدد المتابعين لكل مستخدم، وقم بفرز النتائج حسب عدد المتابعين بترتيب تنازلي.
📁 DB: twitter_1.sqlite
✅ Ground Truth SQL: SELECT name ,  followers FROM user_profiles ORDER BY followers DESC
✨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name ,
✅ SQL execution matched.
Sample 21/50
🔸 Question: لكل موقع، كم عدد محطات الوقود الموجودة بترتيب؟
📁 DB: gas_company.sqlite
✅ Ground Truth SQL: SELECT LOCATION ,  count(*) FROM gas_station GROUP BY LOCATION ORDER BY count(*)
✨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name ,
✅ SQL execution matched.
Sample 22/50
🔸 Question: كم لاعب مختلف تدرب لأكثر من 1000 ساعة؟
📁 DB: soccer_2.sqlite
✅ Ground Truth SQL: SELECT count(*) FROM Player WHERE HS  >  1000
✨ Predicted SQL: SELECT count(*) FROM player WHERE age > 1000
✅ SQL execution matched.
Sample 23/50
🔸 Question: ما هو عدد العناصر التي لم تتلقى أي مراجعة؟
📁 DB: epinions_1.sqlite
✅ Ground Truth SQL: SELECT count(*) FROM item WHERE i_id NOT IN (SELECT i_id FROM review)
✨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN employees AS T2 ON T1.staff_id = T2.staff_id WHERE T1.staff_id = T2.staff_id GROUP BY T1.staff_id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 24/50
🔸 Question: أعط وصف اللون الأقل شيوعًا عبر المنتجات.
📁 DB: products_gen_characteristics.sqlite
✅ Ground Truth SQL: SELECT t2.color_description FROM products AS t1 JOIN ref_colors AS t2 ON t1.color_code  =  t2.color_code GROUP BY t2.color_description ORDER BY count(*) ASC LIMIT 1
✨ Predicted SQL: SELECT count(*) FROM products
✅ SQL execution matched.
Sample 25/50
🔸 Question: ما هو اسم القسم الذي ينتمي إليه الطالب الذي يمتلك أقل معدل نقاط تراكمي؟
📁 DB: college_1.sqlite
✅ Ground Truth SQL: SELECT T2.dept_name FROM student AS T1 JOIN department AS T2 ON T1.dept_code  =  T2.dept_code ORDER BY stu_gpa LIMIT 1
✨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN employees AS T2 ON T1.staff_id = T2.staff_id WHERE T1.staff_id = T2.staff_id WHERE T1.staff_id = T2.staff_id = T2.staff_id GROUP BY T1.staff_id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 26/50
🔸 Question: عدد فروع البنك؟
📁 DB: loan_1.sqlite
✅ Ground Truth SQL: SELECT count(*) FROM bank
✨ Predicted SQL: SELECT count(*) FROM products
✅ SQL execution matched.
Sample 27/50
🔸 Question: [Translation] ما هي أرقام تعريفية الطلاب الذين سجلوا في الدورة 301 مؤخرًا؟
📁 DB: student_assessment.sqlite
✅ Ground Truth SQL: SELECT student_id FROM student_course_attendance WHERE course_id = 301 ORDER BY date_of_attendance DESC LIMIT 1
✨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 28/50
🔸 Question: كم عدد المدن المختلفة التي يوجد فيها البنوك؟
📁 DB: loan_1.sqlite
✅ Ground Truth SQL: SELECT state ,  acc_type ,  credit_score FROM customer WHERE no_of_loans  =  0
✨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name FROM employees AS T1 JOIN employees AS T2 ON T1.employeeid = T2.employeeid WHERE T1.employeeid = T2.employeeid WHERE T1.employeeid = T2.employeeid WHERE T1.employeeid = T2.employeeid
✅ SQL execution matched.
Sample 29/50
🔸 Question: [Question] ما هي أسماء الإنزيمات في الدواء المسمى 'Amisulpride' التي يمكن أن تعمل كـ 'مثبط'؟
📁 DB: medicine_enzyme_interaction.sqlite
✅ Ground Truth SQL: SELECT T1.name FROM enzyme AS T1 JOIN medicine_enzyme_interaction AS T2 ON T1.id  =  T2.enzyme_id JOIN medicine AS T3 ON T2.medicine_id  =  T3.id WHERE T3.name  =  'Amisulpride' AND T2.interaction_type  =  'inhibitor'
✨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN employees AS T2 ON T1.id = T2.id WHERE T1.id = T2.id GROUP BY T1.id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 30/50
🔸 Question: كم عدد المتاجر التي يقع مقرها في كل مدينة؟
📁 DB: store_product.sqlite
✅ Ground Truth SQL: SELECT t3.headquartered_city ,  count(*) FROM store AS t1 JOIN store_district AS t2 ON t1.store_id  =  t2.store_id JOIN district AS t3 ON t2.district_id  =  t3.district_id GROUP BY t3.headquartered_city
✨ Predicted SQL: SELECT count(*) FROM customer WHERE customer_id = "SELECT customer_id GROUP BY customer_id ORDER BY customer_id DESC LIMIT 1
✅ SQL execution matched.
Sample 31/50
🔸 Question: ابحث عن الاسم، التسجيل في الكليات التي يكون حجمها أكبر من 10000 والموقع في ولاية لويزيانا.
📁 DB: soccer_2.sqlite
✅ Ground Truth SQL: SELECT DISTINCT pName FROM Player WHERE pName LIKE '%a%'
✨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name ,
✅ SQL execution matched.
Sample 32/50
🔸 Question: ما هي مواقع جميع محطات الوقود مرتبة حسب سنة الافتتاح؟
📁 DB: gas_company.sqlite
✅ Ground Truth SQL: SELECT LOCATION FROM gas_station ORDER BY open_year
✨ Predicted SQL: SELECT count(*) FROM products WHERE product_type_code = "F"
✅ SQL execution matched.
Sample 33/50
🔸 Question: أي عميل قام بعملية دفع واحدة على الأقل قد أنفق أقل مبلغ؟ قم بتقديم الاسم الأول والاسم الأخير، والمعرف.
📁 DB: sakila_1.sqlite
✅ Ground Truth SQL: SELECT sum(amount) FROM payment
✨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 34/50
🔸 Question: [Question] قائمة اسم نموذج الأجهزة واسم الشركة للهاتف الذي يكون نوع وضع الشاشة الخاص به "الرسومات".
📁 DB: phone_1.sqlite
✅ Ground Truth SQL: SELECT T2.Hardware_Model_name ,  T2.Company_name FROM screen_mode AS T1 JOIN phone AS T2 ON T1.Graphics_mode = T2.screen_mode WHERE T1.Type  =  "Graphics";
✨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 35/50
🔸 Question: أظهر هويات جميع الطلاب الذكور الذين لا يلعبون كرة القدم.
📁 DB: game_1.sqlite
✅ Ground Truth SQL: SELECT StuID FROM Student WHERE sex  =  'F' INTERSECT SELECT StuID FROM Sportsinfo WHERE sportname  =  "Football"
✨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN employees AS T2 ON T1.staff_id = T2.staff_id WHERE T1.staff_id = T2.staff_id = T2.staff_id GROUP BY T1.staff_id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 36/50
🔸 Question: كم عدد ألعاب الفيديو التي لديك؟
📁 DB: game_1.sqlite
✅ Ground Truth SQL: SELECT count(*) FROM Video_games
✨ Predicted SQL: SELECT T1.name FROM film AS T1 JOIN film AS T2 ON T1.film_id = T2.film_id WHERE T1.film_id = T2.film_id
✅ SQL execution matched.
Sample 37/50
🔸 Question: "ابحث عن رمز قناة الاتصال الذي تم استخدامه من قبل العميل بالاسم 'Tillman Ernser'."
📁 DB: customers_and_addresses.sqlite
✅ Ground Truth SQL: SELECT channel_code FROM customer_contact_channels GROUP BY channel_code HAVING count(customer_id)  <  5
✨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name FROM
✅ SQL execution matched.
Sample 38/50
🔸 Question: عرض جميع أسماء المتاجر لمجموعات ورش العمل المسرحية.
📁 DB: cre_Drama_Workshop_Groups.sqlite
✅ Ground Truth SQL: SELECT Customer_Phone ,  Customer_Email_Address FROM CUSTOMERS WHERE Customer_Name  =  "Harold"
✨ Predicted SQL: SELECT T1.name FROM manufacturers AS T1 JOIN manufacturers AS T2 ON T1.product_id = T2.product_id WHERE T1.product_id = T2.product_id GROUP BY T1.product_id ORDER BY T1.product_id DESC LIMIT 1
✅ SQL execution matched.
Sample 39/50
🔸 Question: كم عدد الأعضاء؟
📁 DB: network_2.sqlite
✅ Ground Truth SQL: SELECT DISTINCT T4.name FROM PersonFriend AS T1 JOIN Person AS T2 ON T1.name  =  T2.name JOIN PersonFriend AS T3 ON T1.friend  =  T3.name JOIN PersonFriend AS T4 ON T3.friend  =  T4.name WHERE T2.name  =  'Alice' AND T4.name != 'Alice'
✨ Predicted SQL: SELECT count(*) FROM player
✅ SQL execution matched.
Sample 40/50
🔸 Question: ما هي جميع المعلومات حول ملاحظات التقييم مرتبة حسب التاريخ بترتيب تصاعدي؟
📁 DB: behavior_monitoring.sqlite
✅ Ground Truth SQL: SELECT first_name FROM Teachers WHERE email_address LIKE '%man%'
✨ Predicted SQL: SELECT count(*) FROM exhibition WHERE exhibition_id = 'Spring'
✅ SQL execution matched.
Sample 41/50
🔸 Question: [Question] أظهر معرف الطالب لجميع الطلاب الذكور.
📁 DB: allergy_1.sqlite
✅ Ground Truth SQL: SELECT StuID FROM Student WHERE Sex  =  'M'
✨ Predicted SQL: SELECT T1.name FROM Employees AS T1 JOIN Customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id = T2.customer_id GROUP BY T1.customer_id
✅ SQL execution matched.
Sample 42/50
🔸 Question: ما هو أعلى وأقل مبلغ للتسوية في السجل؟
📁 DB: insurance_fnol.sqlite
✅ Ground Truth SQL: SELECT max(settlement_amount) ,  min(settlement_amount) FROM settlements
✨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name FROM
✅ SQL execution matched.
Sample 43/50
🔸 Question: ما هي جميع الموظفين بدون رقم قسم؟
📁 DB: hr_1.sqlite
✅ Ground Truth SQL: SELECT * FROM employees WHERE department_id  =  "null"
✨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name FROM authors AS T1 JOIN authors AS T2 ON T1.name = T2.name GROUP BY T1.name ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 44/50
🔸 Question: [Question] من هم اللاعبون من إندونيسيا؟
📁 DB: match_season.sqlite
✅ Ground Truth SQL: SELECT T2.Player FROM country AS T1 JOIN match_season AS T2 ON T1.Country_id  =  T2.Country WHERE T1.Country_name  =  "Indonesia"
✨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name FROM authors AS T1 JOIN authors AS T2 ON T1.name = T2.name GROUP BY T1.name ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 45/50
🔸 Question: أي مدرسة لديها أقل عدد من الأساتذة؟
📁 DB: college_1.sqlite
✅ Ground Truth SQL: SELECT T1.school_code FROM department AS T1 JOIN professor AS T2 ON T1.dept_code  =  T2.dept_code GROUP BY T1.school_code ORDER BY count(*) LIMIT 1
✨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 46/50
🔸 Question: "في شهر فبراير، أي مدينة تسجل أعلى درجة حرارة؟"
📁 DB: city_record.sqlite
✅ Ground Truth SQL: SELECT T1.city FROM city AS T1 JOIN temperature AS T2 ON T1.city_id  =  T2.city_id ORDER BY T2.Feb DESC LIMIT 1

In [30]:
# STEP 11: Evaluation using test_data format
smoothie = SmoothingFunction().method4
def execute_sql(db_id, sql_query):
    db_path = f"/kaggle/input/txttosql-nlp/database/{db_id}.sqlite"
    try:
        conn = sqlite3.connect(db_path)
        cursor = conn.cursor()
        cursor.execute(sql_query)
        result = cursor.fetchall()
        conn.close()
        return result
    except Exception as e:
        return f"Error: {str(e)}"

# Metrics tracking
exact_match_count = 0
execution_match_count = 0
bleu_scores = []
total_samples = len(test_data)

for idx, entry in enumerate(test_data):
    print(f"Sample {idx + 1}/{len(test_data)}")

    print(f"🔸 Question: {entry['question']}")
    print(f"📁 DB: {entry['db_id']}.sqlite")
    print(f"✅ Ground Truth SQL: {entry['query']}")
    arabic_question = entry["question"]
    correct_sql = sqlparse.format(entry["query"], reindent=True, keyword_case="upper")
    db_id = entry["db_id"]

    predicted_sql = generate_sql(arabic_question, entry.get("table_names", [])).strip()
    print(f"✨ Predicted SQL: {predicted_sql}")

    # Exact Match Accuracy
    if predicted_sql.strip() == correct_sql.strip():
        exact_match_count += 1

    # Execution Accuracy
    correct_result = execute_sql(db_id, correct_sql)
    predicted_result = execute_sql(db_id, predicted_sql)
    if correct_result == predicted_result:
        print("✅ SQL execution matched.")
        execution_match_count += 1
    else:
        print("❌ Execution mismatch or error occurred.")
        print("Correct Result:", correct_result)
        print("Predicted Result:", predicted_result)

    # BLEU Score (SQL as tokenized words)
    reference_tokens = correct_sql.split()
    predicted_tokens = predicted_sql.split()
    bleu_scores.append(sentence_bleu([reference_tokens], predicted_tokens, smoothing_function=smoothie))

# Final Metrics
exact_match_acc = exact_match_count / total_samples
execution_acc = execution_match_count / total_samples
average_bleu = sum(bleu_scores) / total_samples

# Display Results
print(f"✅ Exact Match Accuracy: {exact_match_acc:.4f}")
print(f"✅ Execution Accuracy: {execution_acc:.4f}")
print(f"✅ Average BLEU Score: {average_bleu:.4f}")

Sample 1/960
🔸 Question: ما هي أوضاع اللاعبين مع متوسط عدد النقاط المُسجَّلة من قبل اللاعبين في تلك الوضع أكبر من 20؟
📁 DB: sports_competition.sqlite
✅ Ground Truth SQL: SELECT POSITION ,  avg(Points) FROM player GROUP BY POSITION
✨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name FROM exhibition AS T1 JOIN film AS T2 ON T1.film_id = T2.film_id WHERE T1.film_id = T2.film_id GROUP BY T1.film_id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 2/960
🔸 Question: [Question] أعط المدينة التي يعيش فيها الطالب الذي يحمل اسم العائلة Kim.
📁 DB: allergy_1.sqlite
✅ Ground Truth SQL: SELECT city_code FROM Student WHERE LName  =  "Kim"
✨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 3/960
🔸 Question: فرز قائمة جميع الأسماء الأولى والألقاب للكتّاب ترتيباً أبجدياً حسب الألقاب.
📁 DB: icfp_1.sqlite
✅ Ground Truth SQL: SELECT fname ,  lname FROM authors ORDER BY lname
✨ Predicted SQL: SELECT count(*) FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 4/960
🔸 Question: ما هي أسماء جميع الأغاني التي يكون ألبومها تحت علامة "Universal Music Group"؟
📁 DB: music_2.sqlite
✅ Ground Truth SQL: SELECT T3.title FROM albums AS T1 JOIN tracklists AS T2 ON T1.aid  =  T2.albumid JOIN songs AS T3 ON T2.songid  =  T3.songid WHERE t1.label  =  "Universal Music Group"
✨ Predicted SQL: SELECT T1.name FROM film AS T1 JOIN film AS T2 ON T1.film_id = T2.film_id WHERE T1.film_id = T2.film_id GROUP BY T1.film_id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 5/960
🔸 Question: ما هو تاريخ الطلب لكل حجز؟
📁 DB: cre_Drama_Workshop_Groups.sqlite
✅ Ground Truth SQL: SELECT Order_Date FROM BOOKINGS
✨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name FROM
✅ SQL execution matched.
Sample 6/960
🔸 Question: "أي منتج تم طلبه الأكثر عددًا من المرات؟"
📁 DB: customers_and_addresses.sqlite
✅ Ground Truth SQL: SELECT sum(t2.order_quantity) FROM customer_orders AS t1 JOIN order_items AS t2 ON t1.order_id  =  t2.order_id WHERE t1.order_date  <  "2018-03-17 07:13:53"
✨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 7/960
🔸 Question: كم عدد المدرسين المختلفين الذين قاموا بتدريس بعض الدورات؟
📁 DB: college_2.sqlite
✅ Ground Truth SQL: SELECT COUNT (DISTINCT id) FROM teaches
✨ Predicted SQL: SELECT count(*) FROM employees
✅ SQL execution matched.
Sample 8/960
🔸 Question: ما هو متوسط نقاط السناتش لبناة الأجسام؟
📁 DB: body_builder.sqlite
✅ Ground Truth SQL: SELECT avg(Snatch) FROM body_builder
✨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name ,
✅ SQL execution matched.
Sample 9/960
🔸 Question: ما هي أسماء النواب بترتيب تنازلي حسب الأصوات؟
📁 DB: election_representative.sqlite
✅ Ground Truth SQL: SELECT T2.Name FROM election AS T1 JOIN representative AS T2 ON T1.Representative_ID  =  T2.Representative_ID ORDER BY votes DESC
✨ Predicted SQL: SELECT count(*) FROM player
✅ SQL execution matched.
Sample 10/960
🔸 Question: أعط معرف المنتج ونوع المنتج للمنتج بأقل سعر.
📁 DB: department_store.sqlite
✅ Ground Truth SQL: SELECT product_id ,  product_type_code FROM products ORDER BY product_price LIMIT 1
✨ Predicted SQL: SELECT count(*) FROM customer WHERE customer_id = "customer_id GROUP BY customer_id ORDER BY customer_id
✅ SQL execution matched.
Sample 11/960
🔸 Question: [Question] أظهر جميع معرف الطلاب الذين يمتلكون ما لا يقل عن حساسيةين.
📁 DB: allergy_1.sqlite
✅ Ground Truth SQL: SELECT StuID FROM Has_allergy GROUP BY StuID HAVING count(*)  >=  2
✨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN employees AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 12/960
🔸 Question: العثور على الراتب الأدنى للأقسام التي يكون متوسط الراتب فيها أعلى من المتوسط العام لجميع المدرسين.
📁 DB: college_2.sqlite
✅ Ground Truth SQL: SELECT min(salary) ,  dept_name FROM instructor GROUP BY dept_name HAVING avg(salary)  >  (SELECT avg(salary) FROM instructor)
✨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name FROM employees AS T1 JOIN employees AS T2 ON T1.employee_id = T2.employee_id WHERE T1.employee_id = T2.employee_id GROUP BY T1.employee_id ORDER BY T1.employee_id DESC LIMIT 1
✅ SQL execution matched.
Sample 13/960
🔸 Question: ما هي المتوسط والحضور الأقصى لجميع الأحداث؟
📁 DB: news_report.sqlite
✅ Ground Truth SQL: SELECT Name FROM journalist WHERE journalist_ID NOT IN (SELECT journalist_ID FROM news_report)
✨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name FROM
✅ SQL execution matched.
Sample 14/960
🔸 Question: [Question] ما هو الراتب واسم الموظف الذي يحمل أكبر عدد من الشهادات على الطائرات التي تتجاوز مسافتها 5000؟
📁 DB: flight_1.sqlite
✅ Ground Truth SQL: SELECT T1.name FROM Employee AS T1 JOIN Certificate AS T2 ON T1.eid  =  T2.eid JOIN Aircraft AS T3 ON T3.aid  =  T2.aid WHERE T3.distance  >  5000 GROUP BY T1.eid ORDER BY count(*) DESC LIMIT 1
✨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id HAVING count(*) > 5000
✅ SQL execution matched.
Sample 15/960
🔸 Question: ما هو متوسط نقاط الدرجات للطلاب الذين يحملون اسم العائلة Smith؟
📁 DB: college_3.sqlite
✅ Ground Truth SQL: SELECT avg(T2.gradepoint) FROM ENROLLED_IN AS T1 JOIN GRADECONVERSION AS T2 JOIN STUDENT AS T3 ON T1.Grade  =  T2.lettergrade AND T1.StuID  =  T3.StuID WHERE T3.LName  =  "Smith"
✨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 16/960
🔸 Question: ما هو معرِّف المريض الذي قام بالإقامة في الغرفة 111 بشكل أحدث؟
📁 DB: hospital_1.sqlite
✅ Ground Truth SQL: SELECT patient FROM stay WHERE room  =  111 ORDER BY staystart DESC LIMIT 1
✨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 17/960
🔸 Question: ما هو متوسط وأدنى سعر للغرف في أنواع مختلفة من الديكور؟
📁 DB: inn_1.sqlite
✅ Ground Truth SQL: SELECT decor ,  count(*) FROM Rooms WHERE bedType = "King" GROUP BY decor;
✨ Predicted SQL: SELECT T1.product_name FROM products AS T1 JOIN products AS T2 ON T1.product_id = T2.product_id WHERE T1.product_id = T2.product_id GROUP BY T1.product_id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 18/960
🔸 Question: كم عدد الأندية؟
📁 DB: college_1.sqlite
✅ Ground Truth SQL: SELECT T1.stu_fname FROM student AS T1 JOIN enroll AS T2 ON T1.stu_num  =  T2.stu_num JOIN CLASS AS T3 ON T2.class_code  =  T3.class_code WHERE T3.crs_code  =  'ACCT-211' AND T1.stu_lname LIKE 'S%'
✨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name FROM authors AS T1 JOIN authors AS T2 ON T1.name = T2.name GROUP BY T1.name
✅ SQL execution matched.
Sample 19/960
🔸 Question: أعطِ المدن الأصلية التي يأتي منها جمبازان على الأقل.
📁 DB: gymnast.sqlite
✅ Ground Truth SQL: SELECT T2.Hometown FROM gymnast AS T1 JOIN people AS T2 ON T1.Gymnast_ID  =  T2.People_ID GROUP BY T2.Hometown HAVING COUNT(*)  >=  2
✨ Predicted SQL: SELECT T1.name FROM Employees AS T1 JOIN Customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 20/960
🔸 Question: قائمة باسم وعدد المتابعين لكل مستخدم، وقم بفرز النتائج حسب عدد المتابعين بترتيب تنازلي.
📁 DB: twitter_1.sqlite
✅ Ground Truth SQL: SELECT name ,  followers FROM user_profiles ORDER BY followers DESC
✨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name ,
✅ SQL execution matched.
Sample 21/960
🔸 Question: لكل موقع، كم عدد محطات الوقود الموجودة بترتيب؟
📁 DB: gas_company.sqlite
✅ Ground Truth SQL: SELECT LOCATION ,  count(*) FROM gas_station GROUP BY LOCATION ORDER BY count(*)
✨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name ,
✅ SQL execution matched.
Sample 22/960
🔸 Question: كم لاعب مختلف تدرب لأكثر من 1000 ساعة؟
📁 DB: soccer_2.sqlite
✅ Ground Truth SQL: SELECT count(*) FROM Player WHERE HS  >  1000
✨ Predicted SQL: SELECT count(*) FROM player WHERE age > 1000
✅ SQL execution matched.
Sample 23/960
🔸 Question: ما هو عدد العناصر التي لم تتلقى أي مراجعة؟
📁 DB: epinions_1.sqlite
✅ Ground Truth SQL: SELECT count(*) FROM item WHERE i_id NOT IN (SELECT i_id FROM review)
✨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN employees AS T2 ON T1.staff_id = T2.staff_id WHERE T1.staff_id = T2.staff_id GROUP BY T1.staff_id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 24/960
🔸 Question: أعط وصف اللون الأقل شيوعًا عبر المنتجات.
📁 DB: products_gen_characteristics.sqlite
✅ Ground Truth SQL: SELECT t2.color_description FROM products AS t1 JOIN ref_colors AS t2 ON t1.color_code  =  t2.color_code GROUP BY t2.color_description ORDER BY count(*) ASC LIMIT 1
✨ Predicted SQL: SELECT count(*) FROM products
✅ SQL execution matched.
Sample 25/960
🔸 Question: ما هو اسم القسم الذي ينتمي إليه الطالب الذي يمتلك أقل معدل نقاط تراكمي؟
📁 DB: college_1.sqlite
✅ Ground Truth SQL: SELECT T2.dept_name FROM student AS T1 JOIN department AS T2 ON T1.dept_code  =  T2.dept_code ORDER BY stu_gpa LIMIT 1
✨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN employees AS T2 ON T1.staff_id = T2.staff_id WHERE T1.staff_id = T2.staff_id WHERE T1.staff_id = T2.staff_id = T2.staff_id GROUP BY T1.staff_id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 26/960
🔸 Question: عدد فروع البنك؟
📁 DB: loan_1.sqlite
✅ Ground Truth SQL: SELECT count(*) FROM bank
✨ Predicted SQL: SELECT count(*) FROM products
✅ SQL execution matched.
Sample 27/960
🔸 Question: [Translation] ما هي أرقام تعريفية الطلاب الذين سجلوا في الدورة 301 مؤخرًا؟
📁 DB: student_assessment.sqlite
✅ Ground Truth SQL: SELECT student_id FROM student_course_attendance WHERE course_id = 301 ORDER BY date_of_attendance DESC LIMIT 1
✨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 28/960
🔸 Question: كم عدد المدن المختلفة التي يوجد فيها البنوك؟
📁 DB: loan_1.sqlite
✅ Ground Truth SQL: SELECT state ,  acc_type ,  credit_score FROM customer WHERE no_of_loans  =  0
✨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name FROM employees AS T1 JOIN employees AS T2 ON T1.employeeid = T2.employeeid WHERE T1.employeeid = T2.employeeid WHERE T1.employeeid = T2.employeeid WHERE T1.employeeid = T2.employeeid
✅ SQL execution matched.
Sample 29/960
🔸 Question: [Question] ما هي أسماء الإنزيمات في الدواء المسمى 'Amisulpride' التي يمكن أن تعمل كـ 'مثبط'؟
📁 DB: medicine_enzyme_interaction.sqlite
✅ Ground Truth SQL: SELECT T1.name FROM enzyme AS T1 JOIN medicine_enzyme_interaction AS T2 ON T1.id  =  T2.enzyme_id JOIN medicine AS T3 ON T2.medicine_id  =  T3.id WHERE T3.name  =  'Amisulpride' AND T2.interaction_type  =  'inhibitor'
✨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN employees AS T2 ON T1.id = T2.id WHERE T1.id = T2.id GROUP BY T1.id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 30/960
🔸 Question: كم عدد المتاجر التي يقع مقرها في كل مدينة؟
📁 DB: store_product.sqlite
✅ Ground Truth SQL: SELECT t3.headquartered_city ,  count(*) FROM store AS t1 JOIN store_district AS t2 ON t1.store_id  =  t2.store_id JOIN district AS t3 ON t2.district_id  =  t3.district_id GROUP BY t3.headquartered_city
✨ Predicted SQL: SELECT count(*) FROM customer WHERE customer_id = "SELECT customer_id GROUP BY customer_id ORDER BY customer_id DESC LIMIT 1
✅ SQL execution matched.
Sample 31/960
🔸 Question: ابحث عن الاسم، التسجيل في الكليات التي يكون حجمها أكبر من 10000 والموقع في ولاية لويزيانا.
📁 DB: soccer_2.sqlite
✅ Ground Truth SQL: SELECT DISTINCT pName FROM Player WHERE pName LIKE '%a%'
✨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name ,
✅ SQL execution matched.
Sample 32/960
🔸 Question: ما هي مواقع جميع محطات الوقود مرتبة حسب سنة الافتتاح؟
📁 DB: gas_company.sqlite
✅ Ground Truth SQL: SELECT LOCATION FROM gas_station ORDER BY open_year
✨ Predicted SQL: SELECT count(*) FROM products WHERE product_type_code = "F"
✅ SQL execution matched.
Sample 33/960
🔸 Question: أي عميل قام بعملية دفع واحدة على الأقل قد أنفق أقل مبلغ؟ قم بتقديم الاسم الأول والاسم الأخير، والمعرف.
📁 DB: sakila_1.sqlite
✅ Ground Truth SQL: SELECT sum(amount) FROM payment
✨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 34/960
🔸 Question: [Question] قائمة اسم نموذج الأجهزة واسم الشركة للهاتف الذي يكون نوع وضع الشاشة الخاص به "الرسومات".
📁 DB: phone_1.sqlite
✅ Ground Truth SQL: SELECT T2.Hardware_Model_name ,  T2.Company_name FROM screen_mode AS T1 JOIN phone AS T2 ON T1.Graphics_mode = T2.screen_mode WHERE T1.Type  =  "Graphics";
✨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 35/960
🔸 Question: أظهر هويات جميع الطلاب الذكور الذين لا يلعبون كرة القدم.
📁 DB: game_1.sqlite
✅ Ground Truth SQL: SELECT StuID FROM Student WHERE sex  =  'F' INTERSECT SELECT StuID FROM Sportsinfo WHERE sportname  =  "Football"
✨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN employees AS T2 ON T1.staff_id = T2.staff_id WHERE T1.staff_id = T2.staff_id = T2.staff_id GROUP BY T1.staff_id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 36/960
🔸 Question: كم عدد ألعاب الفيديو التي لديك؟
📁 DB: game_1.sqlite
✅ Ground Truth SQL: SELECT count(*) FROM Video_games
✨ Predicted SQL: SELECT T1.name FROM film AS T1 JOIN film AS T2 ON T1.film_id = T2.film_id WHERE T1.film_id = T2.film_id
✅ SQL execution matched.
Sample 37/960
🔸 Question: "ابحث عن رمز قناة الاتصال الذي تم استخدامه من قبل العميل بالاسم 'Tillman Ernser'."
📁 DB: customers_and_addresses.sqlite
✅ Ground Truth SQL: SELECT channel_code FROM customer_contact_channels GROUP BY channel_code HAVING count(customer_id)  <  5
✨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name FROM
✅ SQL execution matched.
Sample 38/960
🔸 Question: عرض جميع أسماء المتاجر لمجموعات ورش العمل المسرحية.
📁 DB: cre_Drama_Workshop_Groups.sqlite
✅ Ground Truth SQL: SELECT Customer_Phone ,  Customer_Email_Address FROM CUSTOMERS WHERE Customer_Name  =  "Harold"
✨ Predicted SQL: SELECT T1.name FROM manufacturers AS T1 JOIN manufacturers AS T2 ON T1.product_id = T2.product_id WHERE T1.product_id = T2.product_id GROUP BY T1.product_id ORDER BY T1.product_id DESC LIMIT 1
✅ SQL execution matched.
Sample 39/960
🔸 Question: كم عدد الأعضاء؟
📁 DB: network_2.sqlite
✅ Ground Truth SQL: SELECT DISTINCT T4.name FROM PersonFriend AS T1 JOIN Person AS T2 ON T1.name  =  T2.name JOIN PersonFriend AS T3 ON T1.friend  =  T3.name JOIN PersonFriend AS T4 ON T3.friend  =  T4.name WHERE T2.name  =  'Alice' AND T4.name != 'Alice'
✨ Predicted SQL: SELECT count(*) FROM player
✅ SQL execution matched.
Sample 40/960
🔸 Question: ما هي جميع المعلومات حول ملاحظات التقييم مرتبة حسب التاريخ بترتيب تصاعدي؟
📁 DB: behavior_monitoring.sqlite
✅ Ground Truth SQL: SELECT first_name FROM Teachers WHERE email_address LIKE '%man%'
✨ Predicted SQL: SELECT count(*) FROM exhibition WHERE exhibition_id = 'Spring'
✅ SQL execution matched.
Sample 41/960
🔸 Question: [Question] أظهر معرف الطالب لجميع الطلاب الذكور.
📁 DB: allergy_1.sqlite
✅ Ground Truth SQL: SELECT StuID FROM Student WHERE Sex  =  'M'
✨ Predicted SQL: SELECT T1.name FROM Employees AS T1 JOIN Customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id = T2.customer_id GROUP BY T1.customer_id
✅ SQL execution matched.
Sample 42/960
🔸 Question: ما هو أعلى وأقل مبلغ للتسوية في السجل؟
📁 DB: insurance_fnol.sqlite
✅ Ground Truth SQL: SELECT max(settlement_amount) ,  min(settlement_amount) FROM settlements
✨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name , T1.name FROM
✅ SQL execution matched.
Sample 43/960
🔸 Question: ما هي جميع الموظفين بدون رقم قسم؟
📁 DB: hr_1.sqlite
✅ Ground Truth SQL: SELECT * FROM employees WHERE department_id  =  "null"
✨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name FROM authors AS T1 JOIN authors AS T2 ON T1.name = T2.name GROUP BY T1.name ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 44/960
🔸 Question: [Question] من هم اللاعبون من إندونيسيا؟
📁 DB: match_season.sqlite
✅ Ground Truth SQL: SELECT T2.Player FROM country AS T1 JOIN match_season AS T2 ON T1.Country_id  =  T2.Country WHERE T1.Country_name  =  "Indonesia"
✨ Predicted SQL: SELECT T1.name , T1.name , T1.name , T1.name , T1.name FROM authors AS T1 JOIN authors AS T2 ON T1.name = T2.name GROUP BY T1.name ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 45/960
🔸 Question: أي مدرسة لديها أقل عدد من الأساتذة؟
📁 DB: college_1.sqlite
✅ Ground Truth SQL: SELECT T1.school_code FROM department AS T1 JOIN professor AS T2 ON T1.dept_code  =  T2.dept_code GROUP BY T1.school_code ORDER BY count(*) LIMIT 1
✨ Predicted SQL: SELECT T1.name FROM employees AS T1 JOIN customers AS T2 ON T1.customer_id = T2.customer_id WHERE T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
✅ SQL execution matched.
Sample 46/960
🔸 Question: "في شهر فبراير، أي مدينة تسجل أعلى درجة حرارة؟"
📁 DB: city_record.sqlite